---
title: Donate IP Records - Muzit
bodyClass:
---
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="card card-margin-top">
      <h1 class="card-header large bg-white">
        Donate IP Records
      </h1>
      <div class="card-body">
        <p>
          Do you have extra IP records you would like to donate to someone? Please contact kulaBrands support for assistance.
        </p>
        <div class="action text-center">
          <%= link_to "Contact Support", "mailto:support@kulabrandsfire.zendesk.com?subject=IP Records Donation", class: 'btn btn-primary' %>
        </div>
      </div>
      <!-- // end card-body -->
    </div>
    <!-- // end card -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container -->