---
title: Forgot Password - Muzit
layout: sign-in
bodyClass: sign-in
---
<div class="alert alert-success" id="alert-reset-password" role="alert" style="display: block">
  Your email has been sent.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container-fluid">
  <header class="text-center">
    <%=image_tag( "logo-large.png", class: "img-fluid logo", alt: "Muzit Logo", width: 225) %>
  </header>
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Forgot Password?</h1>
        <p>
          Please provide us with the email address you used to sign in, and we'll send you a link to reset your password.
        </p>
        <form id="login-form" action="" method="" class="form needs-validation" novalidate>
          <fieldset class="floating-labels">
            <div class="form-group">
              <label class="floating" for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="name@domain" required>
              <div class="invalid-feedback">
                Please provide a vaild email address.
              </div>
            </div>
            <!-- // end form-group -->
            <div class="action">
              <button class="btn btn-primary" type="submit">Send</button>
              <%= link_to 'Cancel', 'index.html' %>
            </div>
            <!-- // end action -->
          </fieldset>
        </form>
      </div>
      <!-- // end card-body -->
    </div>
    <!-- // end card -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>