---
title: Sign In - Muzit
layout: sign-in
bodyClass: sign-in
---
<div class="alert alert-success" id="alert-sign-out" role="alert" style="display: none">
  You are signed out.
</div>
<div class="alert alert-success" id="alert-cancel-subscription" role="alert" style="display: none">
  You have successfully canceled your subscription.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container-fluid">
  <header class="text-center">
    <%=image_tag( "logo-large.png", class: "img-fluid logo", alt: "Muzit Logo", width: 225) %>
  </header>
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Sign In</h1>
        <form id="login-form" action="../" method="get" class="form needs-validation" novalidate>
          <fieldset class="floating-labels">
            <div class="form-group">
              <label class="floating" for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="name@domain" required>
              <div class="invalid-feedback">
                Please provide a vaild email address.
              </div>
            </div>
            <!-- // end form-group -->
            <div class="form-group">
              <label class="floating" for="password">Password</label>
              <input type="password" class="form-control" id="password" value="" placeholder="Password" required>
              <div class="invalid-feedback">
                Password is required.
              </div>
              <div class="text-right">
                <%= link_to 'Forgot password?', 'forgot-password.html', class: 'forgot-password' %>
              </div>
            </div>
            <!-- // end form-group -->
            <div class="action">
              <button class="btn btn-primary " type="submit">Sign In</button>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="" id="rememberSignin">
                <label class="custom-control-label" for="rememberSignin">
                  Remember me
                </label>
              </div>
              <!-- // end custom-control -->
            </div>
            <!-- // end action -->
          </fieldset>
        </form>
      </div>
      <!-- // end card-body -->
    </div>
    <!-- // end card -->
  </div>
  <div id="register-link" class="text-center my-3">
    <%=link_to 'Sign up to create an account', '../pricing/index.html' %>
  </div>
</div>
<!-- // end container-fluid -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>