---
title: Terms of Use - Muzit
bodyClass:
---

<div class="container">
  <h1 class="my-4 text-center text-md-left">
    Terms of Use
  </h1>
  <p class="my-4 text-center text-md-left">
    Effective Date: December 24th 2015
  </p>
  <p>
    This page (together with the documents referred to on it) tells you the terms of use (“Terms of Use”) on which you may make use of our website muzit.com (“Website"), Trace application and/or other Muzit applications for mobile devices (“Apps”).  Please read these Terms of Use carefully before you  access and/or use our Website and/or download, install or use the Apps for purposes of using any part of the products, services, content and/or benefits (“Offerings”) made available by Muzit, Inc. (“Muzit” or “We”) on or through our Website and/or our Apps.  By accessing and/or using our Website and/or downloading, installing and/or using the Apps and/or using the Offerings, each individual user (“You” or “Your”) accepts and agrees to these Terms of Use.  Your access and/or use of our Website and/or download, install and/or use of the Apps constitutes Your acceptance of these Terms of Use which takes effect on the date on which You access and/or use our Website and/or download, install and/or use our Apps.  If You do not agree with these Terms of Use, You should cease all access and/or use of our Website and/or download, install and/or use of our Apps immediately.   Muzit reserves the right to make changes to its Website, Apps, rules and policies, and modify or discontinue portions of the Offerings at any time in its sole discretion.  It is Your responsibility to check the Terms of Use periodically for changes.  Your continued use after any changes have been posted constitutes your acceptance of those changes.
  </p>
  <p>
    <strong>1. What Are the OFFERINGS and these USER Terms? </strong>
  </p>
    The information contained in the Offerings consists of original information created by Muzit or publically available content in the public domain.  We are dedicated to helping artists and other intellectual property owners connect with their fans.  To access upgraded artist services, authorized individuals and/or entities will need to upgrade to an Artist Account and agree to the Artist Terms of Use.  Fans of artists wanting to respond to a Muzit advertisement will need to establish a Fan Account and agree to the Fan Terms Of Use.  We also provide a platform for effective marketing and advertising by third parties.  To access these upgraded advertising and marketing services, authorized individuals and/or entities will need to upgrade to an Advertiser/Marketer Account and agree to the Advertiser/Marketer Terms of Use.  Each artist provides its own products and services through our Website and/or the Apps, which means that each artist can also include its own terms and conditions regarding its distinct product and service offerings. If any artist’s terms and conditions are inconsistent with these Terms of Use, these Terms of Use will control.  It is possible that some downloads from the Apps could be subject to government export controls or other restrictions.  If You download anything from or use the Apps, You represent that You are not subject to such controls or restrictions.  We make no representation that anything is appropriate, permissible or available for use outside the U.S., and using the Apps from territories in which such use or the information available from such use is illegal, restricted or not permitted, is expressly prohibited.  If You choose to access or use the Apps from or in locations outside of the U.S., You do so on your own initiative and are responsible for compliance with all applicable laws and regulations.
  </p>
  <p>
    <strong>2. What Other Policies or Terms Apply to Your Use of the OFFERINGS? </strong>
  </p>
  <p>
    Muzit’s current privacy policy is located at <a href="http://muzit.com/privacy-policy/">http://muzit.com/privacy-policy/</a>. Muzit’s Copyright Infringement Policy is located at <a href="http://www.muzit.com/copyright-policy.html">http://www.muzit.com/copyright-policy</a>.
  </p>
  <p>
    The Offerings may include links to other third party websites, and other websites may contain links to Muzit’s Website and/or Apps. Those other third party websites are not under Muzit’s control, so You use them at Your own risk. Muzit is not responsible or liable for any aspects, functions, legalities, or accuracies of such websites, and the inclusion of any link to a third party website does not imply any endorsement by Muzit. Accordingly, Muzit is not responsible or liable for any damage or loss caused or alleged to be caused by or in connection with such third party websites.
  </p>
  <p>
    <strong>3. What Do You Have to Do to Register? </strong>
  </p>
  <p>
    Some of the features of the Offerings will require You to register with Muzit by selecting an appropriate password and screen name (“Muzit User ID”) and providing certain personal information (“Your Personal Information”).  Muzit may refuse to register and may cancel a Muzit User ID at any time. You are solely responsible for maintaining the confidentiality of Your account and password, and you agree to accept responsibility for all activities that occur under Your account or password. You must immediately notify Muzit of any security breach (e.g., unauthorized use of Your account) that you become aware of.
  </p>
  <p>
    <strong>4. Are You Eligible to Use the OFFERINGS?</strong>
  </p>
  <p>
    Muzit does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register. If You are under 13, please do not attempt to register for the Offerings or send any information about Yourself to Muzit. If we believe or determine that You are under 13, we will terminate Your right to access any part of the Website and/or the Apps for the Offerings that require registration. This provision and the right to access the Offerings is void where prohibited by law.
  </p>
  <p>
    <strong>5. Do I Have to Pay to Use the OFFERINGs?</strong>
  </p>
  <p>
    The Offerings are provided by Muzit at no charge.  Charges may apply to any upgraded Artist Account, Fan Account and/or Advertiser/Marketer Account.
  </p>
  <p>
    <strong>6. Prohibited Activities</strong>
  </p>
  <p>
    In using the Website, Apps and/or Offerings, you agree not to:
  </p>
  <ul>
    <li>Take any action or use, submit or distribute any text, media, materials or other content (together, “Content”) on or through the Offerings on the Website and/or Apps that breaches or infringes any third party intellectual property or other rights; is unlawful, threatening, harassing, defamatory, obscene, indecent, offensive, or pornographic; constitutes unauthorized or unsolicited advertising, crawling, phishing, spidering, or spamming; or interferes with or manipulates the Offerings or Muzit’s security, infrastructure, access restrictions, and/or any other feature of the Website, Apps and/or Offerings.</li>
    <li>Use, deliver or transmit any viruses, unsolicited emails, trojan horses, trap doors, back doors, easter eggs, worms, timebombs, cancelbots or computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information associated with the Website, Apps and or the Offerings.</li>
    <li>Decompile, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Website, Apps and/or Offerings.</li>
    <li>Modify, translate, or otherwise create derivative works of any part of the Website, Apps and/or Offerings.</li>
    <li>Use or otherwise transfer any of the rights that You receive for the benefit of a third party</li>
    <li>Violate any applicable laws and regulations or these Terms of Use.</li>
    <li>Copy or store any content other than for personal, noncommercial use.</li>
  </ul>
  <p>
    <strong>7. How Can You or MUZIT Terminate the Agreement? </strong>
  </p>
  <p>
    You may terminate Your account by following the instructions on the Website and or Apps. Muzit may terminate Your access to all or any part of the Website, Apps and/or Offerings at any time for any reason in Muzit’s sole discretion. All provisions of these Terms of Use which by their nature should survive termination shall survive termination (e.g., ownership provisions, warranty disclaimers, indemnities and limitations of liability).
  </p>
  <p>
    <strong>8. What Other Legal Terms Apply to the OFFERINGS?</strong>
  </p>
  <p>
    Intellectual Property – The MUZIT name and logo and all related names, trademarks, service marks, design marks, slogans and domain names are the trademarks or service marks of Muzit.  As between You and Us, we are the sole and exclusive owner of all intellectual property rights in and to the Website, Apps and/or the Offerings.  All such rights are reserved.
  </p>
  <p>
    Independence from Platforms – The Website, Apps and/or Offerings are independent of any platform on which it is located.  The Website, Apps and/or Offerings are not associated, affiliated, sponsored, endorsed or in any way linked to any platform operator (“Operator”). Your download, installation, access to or use of the Website, Apps and/or Offerings is also bound by the terms and conditions of the Operator.  You and We acknowledge that these Terms of Use are concluded between you and Us only, and not with an Operator, and we, not those Operators, are solely responsible for the Website, Apps and/or Offerings and the content thereof to the extent specified in these Terms of Use.
  </p>
  <p>
    Warranty Disclaimer and Limitation of Liability- YOU ASSUME ALL RESPONSIBILITY AND RISK WITH RESPECT TO YOUR USE OF THE WEBSITE, APPS AND/OR THE OFFERINGS. THE WEBSITE, APPS AND/OR OFFERINGS ARE AVAILABLE “AS IS,” AND “AS AVAILABLE”. YOU UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, REPRESENTATIONS AND ENDORSEMENTS, EXPRESS OR IMPLIED, WITH REGARD TO THE WEBSITE, APPS AND/OR OFFERINGS INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT USE OF THE WEBSITE, APPS AND/OR OFFERINGS WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT ERRORS WILL BE DETECTED OR CORRECTED. WE DO NOT ASSUME ANY LIABILITY OR RESPONSIBILITY FOR ANY COMPUTER VIRUSES, BUGS, MALICIOUS CODE OR OTHER HARMFUL COMPONENTS, DELAYS, INACCURACIES, ERRORS OR OMISSIONS, OR THE ACCURACY, COMPLETENESS, RELIABILITY OR USEFULNESS OF THE INFORMATION DISCLOSED OR ACCESSED THROUGH THE WEBSITE, APPS AND/OR OFFERINGS. WE HAVE NO DUTY TO UPDATE OR MODIFY THE WEBSITE, APPS AND/OR OFFERINGS AND WE ARE NOT LIABLE FOR OUR FAILURE TO DO SO. IN NO EVENT, UNDER NO LEGAL OR EQUITABLE THEORY (WHETHER TORT, CONTRACT, STRICT LIABILITY OR OTHERWISE), SHALL WE OR ANY OF OUR RESPECTIVE EMPLOYEES, DIRECTORS, OFFICERS, AGENTS OR AFFILIATES, BE LIABLE HEREUNDER OR OTHERWISE FOR ANY LOSS OR DAMAGE OF ANY KIND, DIRECT OR INDIRECT, IN CONNECTION WITH OR ARISING FROM THE WEBSITE, APPS AND/OR OFFERINGS, THE USE OF THE WEBSITE, APPS AND OR OFFERINGS OR OUR AGREEMENT WITH YOU CONCERNING THE WEBSITE, APPS AND/OR OFFERINGS, INCLUDING, BUT NOT LIMITED TO, COMPENSATORY, DIRECT, CONSEQUENTIAL, INCIDENTAL, INDIRECT, SPECIAL OR PUNITIVE DAMAGES, LOST ANTICIPATED PROFITS, LOSS OF GOODWILL, LOSS OF DATA, BUSINESS INTERRUPTION, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF WE HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. IF WE ARE HELD LIABLE TO YOU IN A COURT OF COMPETENT JURISDICTION FOR ANY REASON, IN NO EVENT WILL WE BE LIABLE FOR ANY DAMAGES IN EXCESS OF ONE HUNDRED FIFTY DOLLARS (US$150.00). SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IF ANY LIMITATION ON REMEDIES, DAMAGES OR LIABILITY IS PROHIBITED OR RESTRICTED BY LAW, WE SHALL REMAIN ENTITLED TO THE MAXIMUM DISCLAIMERS AND LIMITATIONS AVAILABLE UNDER THIS AGREEMENT, AT LAW AND/OR IN EQUITY.
  </p>
  <p>
    Indemnification – You shall indemnify and hold harmless Muzit, its affiliates, successors and assigns and their respective employees, contractors, directors, suppliers and representatives from all liabilities, losses, claims, expenses, and reasonable attorneys’ fees, that arise from or relate to Your (i) violation of third party intellectual property or other rights, (ii) violation of applicable laws, rules or regulations as a result of Your use of the Website, Apps and/or Offerings, (iii) use of the Website, Apps and/or Offerings and/or (iv) any violation by You of these Terms of Use. Muzit shall have the option to assume the exclusive defense and control of any action to which it is a party and You shall assist Muzit in asserting any available defenses.
  </p>
  <p>
    Jurisdiction and Dispute Resolution – These Terms of Use shall be governed by and construed in accordance with the laws of the State of California, excluding its conflicts of law rules. Any dispute arising from or relating to the subject matter of these Fan Terms shall be finally settled by arbitration in Los Angeles, California, using the English language in accordance with the rules of the Judicial Arbitration and Mediation Services, Inc. (“JAMS”) then in effect, by one JAMS arbitrator with substantial experience in resolving intellectual property and commercial contract disputes. Judgment upon the award so rendered may be entered in any court of competent jurisdiction. Notwithstanding the foregoing, each party may seek injunctive or other equitable relief in any court of competent jurisdiction at any time.
  </p>
  <p>
    Other Terms – These Terms of Use are the entire agreement between You and Muzit with respect to the Offerings, and supersede all prior or contemporaneous communications and proposals between You and Muzit with respect to the Offerings. If any provision of these Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable. The failure of either party to exercise any right provided for herein shall not be deemed a waiver of any further rights hereunder. The Terms of Use are personal to You, and are not assignable, transferable or sublicensable by You except with Muzit’s prior written consent. Muzit may freely assign, transfer or delegate any of its rights and obligations hereunder. No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Use and neither party has any authority of any kind to bind the other in any respect. Except as otherwise provided herein, all notices will be deemed to have been duly given, when received.
  </p>
  <p>
    These Terms of Use were most recently updated on January 12, 2015.
  </p>
</div>
