---
title: Purchase History - Muzit
bodyClass: lists purchase-history
---
<div class="container">
  <h1 class="text-center my-4">
    Puchase History
  </h1>
  <dl class="definition-list-group">
    <div class="list-item">
      <dt>IP Credits Remaining</dt>
      <dd>
        5,000
      </dd>
    </div>
    <div class="list-item">
      <dt>IP Credits Purchased</dt>
      <dd>
        7,100,000
      </dd>
    </div>
    <div class="list-item">
      <dt>Total Purchases</dt>
      <dd>
        <sup>$</sup>
        999,000.00
      </dd>
    </div>
    <div class="list-item">
      <dt>Latest Purchase</dt>
      <dd>
        <sup>$</sup>
        990,900.00
        <span>09/23/20</span>
      </dd>
    </div>
  </dl>
  <table class="table border">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th class="text-right">IP Credits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          2020-09-05
        </td>
        <td class="text-truncate">
          Purchased: 75,000 IP Credits - $2,900.00
        </td>
        <td class="text-right text-nowrap">
          5,000
        </td>
      </tr>
      <tr>
        <td>
          2020-09-18
        </td>
        <td class="text-truncate">
          Report: Stoners - Pacific Northwest
        </td>
        <td class="text-nowrap text-right text-truncate text-danger">
          -39,431
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          2020-09-18
        </td>
        <td class="text-nowrap">
          Report: Stoners - New Hampshire
        </td>
        <td class="text-nowrap text-right text-truncate text-danger">
          -9,172
        </td>
      </tr>
    </tbody>
  </table>
  <div class="action text-center">
    <%= link_to "Buy Credits", "../buy-credits/index.html", :class => "btn btn-primary btn-md" %>
    <%= link_to "Back", "../../index.html" %>
  </div>
</div>
<!-- // end container -->