


<div class="form-group">
  <span class="switch switch-sm">
    <input type="checkbox" class="switch" id="roleSwitch1">
    <label for="roleSwitch1"></label>
  </span>
</div>

<div class="form-group">
  <span class="switch switch-sm">
    <input type="checkbox" class="switch" id="roleSwitch2">
    <label for="roleSwitch2"></label>
  </span>
</div>