---
title: Forgot Password - Muzit
layout: signin
bodyClass: sign-in
---

<div class="alert alert-success" id="alert-reset-password" role="alert" style="display: none">
  Your email has been sent.
</div>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <%=image_tag( "logo-muzit2.png", class: "img-fluid logo", alt: "Muzit Logo") %>
      <div class="form-container">
        <form id="login-form" action="" method="" class="form needs-validation" novalidate>
          <h1 class="text-center">Forgot Password?</h1>
          <p>
            Please provide us with the email address you used to log in, and we'll send you a link to reset your password.
          </p>
          <div class="form-group">
            <label class="floating" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@domain" required>
            <div class="invalid-feedback">
              Please provide a vaild email address.
            </div>
          </div>
          <!-- // end form-group -->
          <button class="btn btn-primary" type="button" id="reset-password">Reset Password</button>
          <%= link_to 'Cancel', 'index.html' %>
        </form>
      </div>
      <!-- // end sign-in-container -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container -->