<footer class="bg-dark text-center" role="contentinfo">
  <div class="container">
    <a href="#" class="text-white">Copyright Policy</a>
    <a href="#" class="text-white">Privacy Policy</a>
    <a href="#" class="text-white">Terms of Use</a>
    <a href="#" class="text-white">Contact Us</a>
    <p class="m-0 text-white">Copyright &copy; Muzit 2018</p>
  </div>
</footer>