<footer class="bg-dark py-3" role="contentinfo">
  <div class="container">
  <ul class="list-inline text-center">
    <li class="list-inline-item"><%= link_to 'Copyright Policy', '../copyright-policy.html' %></li>
    <li class="list-inline-item"><%= link_to 'Privacy Policy', '../privacy-policy.html' %></li>
    <li class="list-inline-item"><%= link_to 'Terms of Use', '../terms-of-use.html' %></li>
    <li class="list-inline-item"><%= link_to 'Contact Us', '../contact-us.html' %></li>
  </ul>
    <p class="m-0 copyright text-center small">Copyright &copy; Muzit 2019</p>
  </div>
</footer>