<footer class="bg-dark text-center container-fluid py-3" role="contentinfo">
  <div class="container">
    <a href="#">Copyright Policy</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Use</a>
    <a href="#">Contact Us</a>
    <p class="m-0 copyright small">Copyright &copy; Muzit 2018</p>
  </div>
</footer>