<footer class="bg-dark py-3" role="contentinfo">
  <div class="container">
  <ul class="list-inline text-center">
    <li class="list-inline-item"><%= link_to 'Copyright Policy', '#' %></li>
    <li class="list-inline-item"><%= link_to 'Privacy Policy', '#' %></li>
    <li class="list-inline-item"><%= link_to 'Terms of Use', '#' %></li>
    <li class="list-inline-item"><%= link_to 'Contact Us', '#' %></li>
  </ul>
    <p class="m-0 copyright text-center small">Copyright &copy; Muzit 2018</p>
  </div>
</footer>