<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
  <% link_to "#", class:"navbar-brand" do %>
    <%= image_tag("logo-muzit.png", class: "", alt: "Muzit Logo") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="oi oi-person" title="Account" aria-hidden="true"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
<!--     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul> -->
    <div class="input-group  ml-auto">
        <input type="text" class="form-control" placeholder="Search artists and bands..." aria-label="Search" aria-describedby="basic-addon">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Search</button>
        </div>
    </div>
  </div>
</nav>