<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" role="navigation">
  <% link_to "#", class:"navbar-brand" do %>
    <%= image_tag("logo-muzit.png", class: "", alt: "Muzit Logo") %>
  <% end %>
  <% link_to "#", class: "navbar-toggler ml-auto", "data-toggle" => "collapse", "data-target" => "#nav-search", "aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation" do %>
    <span class="oi oi-magnifying-glass text-white"></span>
  <% end %>
  <% link_to "#", class: "navbar-toggler", "data-toggle" => "collapse", "data-target" => "#account", "aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation" do %>
    <span class="oi oi-person text-white" title="Account" aria-hidden="true"></span>
  <% end %>
  <div class="collapse navbar-collapse align-center" id="nav-search">
    <div class="search w-100">
      <div class="input-group">
        <%= text_field_tag :search, :value => "", :class => "form-control", :placeholder => "Search artists and bands...", "aria-label" => "Search" %>
        <div class="input-group-append">
          <button class="" type="button">
            <span class="oi oi-magnifying-glass text-primary"></span>
          </button>
        </div>
      </div>
      <!-- // end input-group -->
    </div>
    <!-- // end search -->
  </div>
  <!-- // end nav-search -->
  <div class="collapse navbar-collapse" id="account">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Register", "#", :class => "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign In", "#", :class => "nav-link text-white" %>
      </li>
    </ul>
  </div>
</nav>