---
title: Torrents Unmapped - Muzit
bodyClass: artists-torrents
---

<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">Unmapped Torrents</h1>

  <div id="torrent-search">
    <form class="form" action="/admin/torrents" accept-charset="UTF-8" method="get">
      <label for="q">Search Torrents: </label>
      <input type="text" name="q" id="q">
      <input type="submit" name="commit" value="Go" class="btn btn-primary btn-sm" data-disable-with="Go">
    </form>
  </div>

  <nav class="pagination pagination-sm justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
      <li class="prev disabled page-item">
        <a class="page-link" href="#"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a>
      </li>
      <li class="active page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=1">1</a>
      </li>
      <li class="page-item">
        <a rel="next" class="page-link" href="/admin/torrents-unmapped.html?page=2">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=3">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=4">4</a>
      </li>
      <li class="page-item">
      <a class="page-link" href="/admin/torrents-unmapped.html?page=5">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=6">6</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=7">7</a>
      </li>
      <li class="page-item">
      <a class="page-link" href="/admin/torrents-unmapped.html?page=8">8</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=9">9</a></li>
      <li class="page-item disabled">
        <a class="page-link" href="#">…</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=41">41</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=42">42</a>
      </li>
      <li class="next page-item">
        <a class="page-link" rel="next" href="/admin/torrents-unmapped.html?page=2">
            Next <i class="fas fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>

  <table class="table table-hover torrents unmapped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Size</th>
        <th>Downloads</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/207720/edit">77bc065619f4aafeabd24f606a2a33faeaf38542</a></td>
        <td>Music</td>
        <td>15 GB</td>
        <td>338,632</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/262212/edit">Carib-092016-262-FHD</a></td>
        <td></td>
        <td>3 GB</td>
        <td>283,958</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1970109/edit">a6f86d200b32bd68ab2f0280d940fc4955e13bec</a></td>
        <td></td>
        <td>32 GB</td>
        <td>274,627</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2761024/edit">捻くれモノの学園青春物語～俺と彼女の裏表～ 初回版 + 初回特典</a></td>
        <td></td>
        <td>4.1 GB</td>
        <td>244,634</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2603836/edit">(同人ゲーム) [180925][RJ226905][サークル暇乞い] 陵辱×タワーディフェンス 種付け中出し雌奴隷化で異世界救済RPG Ver.1.02 (files).rar</a></td>
        <td></td>
        <td>260 MB</td>
        <td>232,637</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/261099/edit">0919-javbo.net_yrh131</a></td>
        <td></td>
        <td>2.3 GB</td>
        <td>214,799</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2502550/edit">劍俠情緣3-重製版(長風破曉).rar</a></td>
        <td></td>
        <td>78 GB</td>
        <td>197,419</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/155955/edit">c3d0d96fd69cbc1f3552883b9c084b9953198857</a></td>
        <td>Music</td>
        <td>140 MB</td>
        <td>178,444</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/162311/edit">0cedf7f2c7a78009d915daec1470e6b14eb27225</a></td>
        <td></td>
        <td>3.9 GB</td>
        <td>174,016</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/264489/edit">01afe7de539aecfa5e62dd5155b9580235b1d0bf</a></td>
        <td></td>
        <td>700 MB</td>
        <td>151,732</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/168452/edit">Atlantis (Demo Taped Remix)</a></td>
        <td>Music</td>
        <td>8.3 MB</td>
        <td>136,551</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/90151/edit">c51c515401468b14c14964dcf66a102131ba0c13</a></td>
        <td></td>
        <td>11 GB</td>
        <td>129,452</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/67544/edit">f43cbc323f4984b1502275a10b701634bc43e1da</a></td>
        <td></td>
        <td>2.1 GB</td>
        <td>127,371</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/157920/edit">9fe529e259948f26c61b605d7ed35ccc574d498a</a></td>
        <td></td>
        <td>700 MB</td>
        <td>126,013</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/76185/edit">Lennar Digital Sylenth1 v.2.21 x64 x32.rar</a></td>
        <td></td>
        <td>11 MB</td>
        <td>121,258</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2724565/edit">[181212]TVアニメ『ソードアート・オンライン アリシゼーション』OPテーマ「ADAMAS／赤い罠(who loves it？)」(DVD付期間生産限定アニメ盤)／LiSA[320K].rar</a></td>
        <td></td>
        <td>41 MB</td>
        <td>115,883</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2500821/edit">(同人ゲーム) [180821][RJ231124][ぺぺろんちーの] 冒険者の宿へようこそ！ ～アップグレードデータ結合版1＆2～ Ver.2.18.8.3 (本体＆アップグレードデータ1結合済).rar</a></td>
        <td></td>
        <td>900 MB</td>
        <td>115,847</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2618170/edit">(同人ゲーム) [181018][RJ236366][ダブルメロン] JK3人娘のエッチな活動記録 ～学校の怪談は猥談！？～ (files).rar</a></td>
        <td></td>
        <td>490 MB</td>
        <td>113,684</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/53512/edit">ebb322a6aff428b866c59d131dab837328d42bc4</a></td>
        <td>Music</td>
        <td>15 MB</td>
        <td>108,575</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/213065/edit">[ Torrent9.ws ] PNL - Dans La Legende + 2 bonus(2016)</a></td>
        <td>Music</td>
        <td>130 MB</td>
        <td>100,437</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/155106/edit">KMSpico v10.0.4 (Office and windows activator) [TechTools.NET]</a></td>
        <td></td>
        <td>9.1 MB</td>
        <td>99,082</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/155236/edit">Tokyo-Hot n1063-FHD</a></td>
        <td></td>
        <td>4.8 GB</td>
        <td>96,167</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/62556/edit">2c1d00e1811cce65dfb078efffbca0906996a72d</a></td>
        <td></td>
        <td>3.5 GB</td>
        <td>95,292</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/60580/edit">MathWorks MATLAB R2016a + Crack [SadeemPC]</a></td>
        <td></td>
        <td>7.7 GB</td>
        <td>94,875</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/49549/edit">_Evidently_ Premiere _ Debut Album</a></td>
        <td>Music</td>
        <td>45 MB</td>
        <td>92,047</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2547826/edit">週刊少年ジャンプ 2018年41号.rar</a></td>
        <td></td>
        <td>120 MB</td>
        <td>89,907</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/21056/edit">001. Д. Рус - Играть, чтобы Жить. СРЫВ - 192</a></td>
        <td>Music</td>
        <td>970 MB</td>
        <td>89,595</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2394371/edit">hjd2048071602</a></td>
        <td></td>
        <td>16 GB</td>
        <td>88,763</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/140617/edit">b6c07acb396c3cbacd79d05547c715b890543ac2</a></td>
        <td></td>
        <td>1.1 GB</td>
        <td>88,486</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1988606/edit">Mario Kart 8 [AMKE01]</a></td>
        <td></td>
        <td>2.8 GB</td>
        <td>88,227</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/76175/edit">PDF To Word Converter 3.rar</a></td>
        <td></td>
        <td>57 MB</td>
        <td>87,391</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2608423/edit">空姐黑丝制服</a></td>
        <td></td>
        <td>2 GB</td>
        <td>85,636</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/82182/edit">NARUTO -ナルト-</a></td>
        <td></td>
        <td>200 GB</td>
        <td>85,241</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2676582/edit">3DMGAME-HITMAN.2.Gold.Edition.Cracked-FCKDRM</a></td>
        <td></td>
        <td>38 GB</td>
        <td>84,397</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/90842/edit">Mario Kart (Scrubbed)</a></td>
        <td></td>
        <td>2.8 GB</td>
        <td>84,131</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2812701/edit">(18禁ゲーム) [190222] [Sonora] 僕の未来は、恋と課金と。 特別限定版 DL版 (files).rar</a></td>
        <td></td>
        <td>1.9 GB</td>
        <td>83,513</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2521614/edit">[H-Anime]1008429.rar</a></td>
        <td></td>
        <td>150 MB</td>
        <td>82,167</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2633078/edit">きゃんきゃんバニープルミエール3 + マニュアル</a></td>
        <td></td>
        <td>1.5 GB</td>
        <td>80,028</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/117690/edit">be2470dddef04b5bd9213566ef8aa19c332bdcfe</a></td>
        <td></td>
        <td>890 MB</td>
        <td>79,670</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/32119/edit">Pimsleur English for Russian Speakers I-II-III (90 уроков+21 для чтения)</a></td>
        <td>Music</td>
        <td>650 MB</td>
        <td>76,742</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/149020/edit">The.Witcher.3.Wild.GoTY.Steam.CHT.HD</a></td>
        <td></td>
        <td>43 GB</td>
        <td>74,834</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/162059/edit">aa3ba78deb2227a7bf14020a22389e8607058dfd</a></td>
        <td></td>
        <td>65 MB</td>
        <td>74,611</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1971968/edit">6f217613010a1a8629242559e301ecfef99bbd7f</a></td>
        <td></td>
        <td>4.4 GB</td>
        <td>72,842</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2479749/edit">(同人ゲーム) [180728][RJ223443][俺的嗜好] ★王妃様の浮気子作りダイアリー ～浮気が国事行為になっちゃうRPG～★ Ver.1.20.rar</a></td>
        <td></td>
        <td>570 MB</td>
        <td>71,111</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2434920/edit">[つくしあきひと] メイドインアビス 第07巻.rar</a></td>
        <td></td>
        <td>72 MB</td>
        <td>70,777</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2524596/edit">(同人ゲーム) [180831][RJ228441][apricot] デモンズサモナー (files).rar</a></td>
        <td></td>
        <td>530 MB</td>
        <td>68,188</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/104439/edit">Kill That Shout</a></td>
        <td>Music</td>
        <td>33 MB</td>
        <td>67,977</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2812168/edit">Fist cross sicflics 极限阴道肛门扩张280部全集</a></td>
        <td></td>
        <td>33 GB</td>
        <td>67,847</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/159988/edit">Tradução Particionada</a></td>
        <td></td>
        <td>2.1 GB</td>
        <td>67,254</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1972824/edit">[肉体的恶魔].devil.in.the.flesh.(uncut).1986.dvdrip.xvid-imbt</a></td>
        <td></td>
        <td>700 MB</td>
        <td>66,898</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/175073/edit">2c31f5a1a99ffbc7dde76a371265b04c49e8f632</a></td>
        <td></td>
        <td>1.7 GB</td>
        <td>66,455</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/146193/edit">[FHD]PGD-440</a></td>
        <td></td>
        <td>7.6 GB</td>
        <td>65,231</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/144700/edit">ef478893ba3e0ef16c4ee947582a9d92d8c51232</a></td>
        <td></td>
        <td>1.3 GB</td>
        <td>64,885</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/80327/edit">e438a2f565a4ccc4fbc2c651420ed71bb6917313</a></td>
        <td>Music</td>
        <td>18 GB</td>
        <td>64,656</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/58692/edit">Shusterman_Neal_-_Mezhdumir_(Knyazev_Igor)</a></td>
        <td>Music</td>
        <td>720 MB</td>
        <td>64,543</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/198011/edit">3DMGAME-Pro.Evolution.Soccer.2017-3DM</a></td>
        <td></td>
        <td>4.7 GB</td>
        <td>63,882</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/76004/edit">IGG-YoutubersLife.v0.7.14b.rar</a></td>
        <td></td>
        <td>520 MB</td>
        <td>63,776</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/176790/edit">d6bf5130635944816bc4332bbfd704997a6fd65a</a></td>
        <td></td>
        <td>1.7 GB</td>
        <td>62,199</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/81688/edit">Pored Mene.2015.DVDRip.Serbian.Film</a></td>
        <td></td>
        <td>700 MB</td>
        <td>61,724</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1966371/edit">f4425771c01f25a7bb940e8e3027e0881c4a5212</a></td>
        <td>Music</td>
        <td>9.1 GB</td>
        <td>61,427</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/88163/edit">Autodesk AutoCAD 2010</a></td>
        <td></td>
        <td>2.7 GB</td>
        <td>61,206</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/176071/edit">FIFA.17.PC</a></td>
        <td></td>
        <td>8.1 GB</td>
        <td>61,185</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2434736/edit">(18禁ゲーム) [180727] [あかべぇそふとすりぃ] はるとゆき、 (iso+mds+rr3).rar</a></td>
        <td></td>
        <td>4.3 GB</td>
        <td>60,770</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/78340/edit">[VCB-Studio] Terror in Resonance [Ma10p_1080p]</a></td>
        <td>Music</td>
        <td>20 GB</td>
        <td>59,859</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1963520/edit">NIP TUCK - S1.rar</a></td>
        <td></td>
        <td>4.7 GB</td>
        <td>59,373</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1976182/edit">Cubase.Elements.v7.0.6.x86.x64.Cracked-XCLUSiVE.rar</a></td>
        <td></td>
        <td>2.1 GB</td>
        <td>59,104</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/75190/edit">S A G E Comptabilité.rar</a></td>
        <td></td>
        <td>48 MB</td>
        <td>58,912</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/141118/edit">UHDの秀人(XiuRen)官版大尺度制服誘惑套圖N151－N203 2604p</a></td>
        <td></td>
        <td>8.8 GB</td>
        <td>58,220</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1960337/edit">Lil Me Deluxe</a></td>
        <td>Music</td>
        <td>210 MB</td>
        <td>58,198</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2444857/edit">Otaku Ni Koi Ha Muzukashi v06.rar</a></td>
        <td></td>
        <td>62 MB</td>
        <td>57,844</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/86210/edit">067a6570afdc60cb7bdd855014df6407f1b0f1c6</a></td>
        <td>Music</td>
        <td>100 MB</td>
        <td>57,715</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/263059/edit">А. Каменистый - Девятый-4. Адмирал Южных Морей (Коршунов)(2014)</a></td>
        <td>Music</td>
        <td>860 MB</td>
        <td>57,621</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/227114/edit">Gran Turismo [English][PSP][USA][WwW.GamesTorrents.CoM]</a></td>
        <td></td>
        <td>950 MB</td>
        <td>57,440</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2649805/edit">超 极  品  丝  袜</a></td>
        <td></td>
        <td>950 MB</td>
        <td>56,444</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1978095/edit">4eefeb28d4a15bee3ad46ffe1c67ea4101d21e3e</a></td>
        <td></td>
        <td>22 GB</td>
        <td>56,374</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2560882/edit">糖質量ハンドブック.rar</a></td>
        <td></td>
        <td>25 MB</td>
        <td>56,327</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/105431/edit">8736b0e0ee8df8ef75165872482a627b4a69996e</a></td>
        <td></td>
        <td>2.4 GB</td>
        <td>56,190</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2405340/edit">(同人ゲーム) [161208][RJ183994][MOFULAND] 封呪姫 Ver.2.89B (files).rar</a></td>
        <td></td>
        <td>240 MB</td>
        <td>55,936</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/162261/edit">478b133641448b7a4cf067624b859cd3a2160ddf</a></td>
        <td></td>
        <td>3.2 MB</td>
        <td>55,739</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/156950/edit">(一般コミック) [小玉有起] ブラッドラッド (BLOOD LAD) 第05-10巻</a></td>
        <td></td>
        <td>630 MB</td>
        <td>55,341</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/157970/edit">avop220hd</a></td>
        <td></td>
        <td>4 GB</td>
        <td>55,251</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/100236/edit">FL STUDIO 12 Producer Edition v12.2 [build3]  32Bit &amp; 64Bit + Crack</a></td>
        <td></td>
        <td>600 MB</td>
        <td>54,951</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/70548/edit">Ю-Питер - Гудгора (2015)</a></td>
        <td>Music</td>
        <td>120 MB</td>
        <td>54,753</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2627/edit">Горькавый Ник - Теория катастрофы</a></td>
        <td>Music</td>
        <td>1 GB</td>
        <td>54,207</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1977238/edit">b2e39c599a4a19a60a15e527d7006ad7b7e6d2bf</a></td>
        <td></td>
        <td>19 GB</td>
        <td>54,157</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2429430/edit">Erewhon DL版 + Update</a></td>
        <td></td>
        <td>3.3 GB</td>
        <td>53,775</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2413811/edit">[NAOKI-Raws] 銀河英雄伝説 BD-BOX (BDrip x264 DTS-HDMA+TrueHD5.1ch Chap)</a></td>
        <td></td>
        <td>300 GB</td>
        <td>52,798</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/38905/edit">Va.Other.Side.Of.The.80s.[2016]-TDG</a></td>
        <td>Music</td>
        <td>370 MB</td>
        <td>52,598</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/1056/edit">02c541e31b6389c5c6463b9ee9c07028fa3f1eb1</a></td>
        <td>Music</td>
        <td>3.2 GB</td>
        <td>52,099</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/61039/edit">GVG292sd</a></td>
        <td></td>
        <td>1 GB</td>
        <td>51,201</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/156860/edit">Tokyo-Hot n1180-SD</a></td>
        <td></td>
        <td>1.2 GB</td>
        <td>50,905</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/13854/edit">Дискотека 80-90х - Коллекция - 2003-2011 - FLAC-tracks - Lossless</a></td>
        <td>Music</td>
        <td>15 GB</td>
        <td>50,670</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/79408/edit">Michael Jackson The Experience [MULTI5][XBOX360][Region Free][KINECT][WwW.GamesTorrents.CoM]</a></td>
        <td></td>
        <td>6.6 GB</td>
        <td>49,961</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/170675/edit">Coldplay - Discography - 1998-2016</a></td>
        <td>Music</td>
        <td>5.9 GB</td>
        <td>49,664</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/103586/edit">786808b6cef7e154fa9319067bdc6a22bf9b6f6c</a></td>
        <td></td>
        <td>1.6 GB</td>
        <td>49,113</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/23712/edit">[www.Cpasbien.com] Muse-The_2nd_Law-2012-BriBerY</a></td>
        <td>Music</td>
        <td>97 MB</td>
        <td>49,070</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/2552648/edit">[Yhpl_lxk] Youkoso Jitsuryoku Shijou Shugi no Kyoushitsu e (BdRip 1920x1080 x264 Opus)</a></td>
        <td></td>
        <td>10 GB</td>
        <td>48,924</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/224379/edit">e29c3c7678e4a540ddb20c6f4a2fd773b3cc51e7</a></td>
        <td></td>
        <td>62 GB</td>
        <td>48,818</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/24630/edit">[ www.Cpasbien.pw ] Texas-Texas_25-(Deluxe_Edition)-2CD-2015-gnvr</a></td>
        <td>Music</td>
        <td>190 MB</td>
        <td>48,609</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/admin/torrents/255421/edit">9be59177032a746751093681e8682537d244583f</a></td>
        <td></td>
        <td>1.5 GB</td>
        <td>48,162</td>
      </tr>
    </tbody>
  </table>

  <nav class="pagination pagination-sm justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
      <li class="prev disabled page-item">
        <a class="page-link" href="#"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a>
      </li>
      <li class="active page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=1">1</a>
      </li>
      <li class="page-item">
        <a rel="next" class="page-link" href="/admin/torrents-unmapped.html?page=2">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=3">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=4">4</a>
      </li>
      <li class="page-item">
      <a class="page-link" href="/admin/torrents-unmapped.html?page=5">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=6">6</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=7">7</a>
      </li>
      <li class="page-item">
      <a class="page-link" href="/admin/torrents-unmapped.html?page=8">8</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=9">9</a></li>
      <li class="page-item disabled">
        <a class="page-link" href="#">…</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=41">41</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/torrents-unmapped.html?page=42">42</a>
      </li>
      <li class="next page-item">
        <a class="page-link" rel="next" href="/admin/torrents-unmapped.html?page=2">
          Next <i class="fas fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
