---
title: Torrent Details - Muzit
bodyClass: artists-torrents
---

<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">
    Torrent Details
  </h1>
  <div class="card torrent-meta-data" >
    <div class="card-body">
      <dl>
        <dt>Infohash</dt>
        <dd>3786a72f6bc4fc56bd2ecddbefc0908c23af472c</dd>
        <dt>Torrent Name</dt>
        <dd>Live Phish SBD 2003 Complete Tour (almost)</dd>
        <dt>Category</dt>
        <dd>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Category
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Movie</a>
              <a class="dropdown-item" href="#">Music</a>
              <a class="dropdown-item" href="#">Pornography</a>
              <a class="dropdown-item" href="#">Television</a>
              <a class="dropdown-item" href="#">Software</a>
            </div>
          </div>
        </dd>
        <dt>Associated Artists</dt>
        <dd class="associated-artists">
          <textarea id="torrent-mapping"></textarea>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary btn-sm" type="button">Save</button>
              <a href="">Cancel</a>
            </div>
            <!-- // end column -->
            <div class="col-md-6 text-center text-md-right">
              <button class="btn btn-outline-primary btn-sm" type="button">Next Torrent</button>
            </div>
            <!-- // end column -->
          </div>
          <!-- // end row -->
        </dd>
      </dl>
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end torrent-meta-data -->
  <div class="card">
    <div class="card-header">
      <h5>
        Torrent Files
      </h5>
    </div>
    <div class="card-body">
      <table class="table torrent-files table-hover">
        <thead>
          <tr>
          <th>Name</th>
          <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-05 Seven Below.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-04 Dirt.mp3
          </td>
          <td>6 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-03 The Divided Sky.mp3
          </td>
          <td>22 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-02 Moma Dance.mp3
          </td>
          <td>17 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-01 Llama.mp3
          </td>
          <td>7 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-03 Secret Smile.mp3
          </td>
          <td>6 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-02 Walls of The Cave.mp3
          </td>
          <td>20 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-01 You Enjoy Myself.mp3
          </td>
          <td>37 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-02 Moma Dance.mp3
          </td>
          <td>17 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-04 Bug.mp3
          </td>
          <td>15 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-03 Twist.mp3
          </td>
          <td>32 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-02 Taste.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-01 Fast Enough For You.mp3
          </td>
          <td>10 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-07 On Your Way Down.mp3
          </td>
          <td>10 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-06 Chalk Dust Torture.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-05 Spock's Brain.mp3
          </td>
          <td>8 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-04 You Ain't Going Nowhere.mp3
          </td>
          <td>7 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-03 Scents And Subtle Sounds.mp3
          </td>
          <td>42 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-01 My Friend, My Friend.mp3
          </td>
          <td>9 MB</td>
          </tr>
        </tbody>
      </table>
      <!-- // end  torrent-files-->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
</div>
<!-- // end container-fluid -->