---
title: Torrent Details - Muzit
bodyClass: artists-torrents
---

<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">
    Torrent Details
  </h1>
<form id="login-form" class="form needs-validation" action="/artists/596/torrents/2779043" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="tANpqXku5+eystIWBWQroWmVkdmQQFgn9Jtvvqmo4BRTjru+ggwvkYuKJjtEKzxsBzcFHmbWVvVqoRnaWum6YQ==">
    <input type="hidden" name="page" id="page">
    <input type="hidden" name="q" id="q">

    <!-- torrent details -->
    <div class="card torrent-meta-data" id="torrent-meta-data">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label>Infohash</label>
            <span class="text">
              c5b70bec171280ed8d4633b09e46eb397e87e967
            </span>
          </div>
          <div class="col-md-6">
              <label>Torrent Name</label>
              <span class="text">
                Phish 2010 -10-26 Manchester, NH
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control custom-select custom-select-sm" id="category" name="category"><option value=""></option>
              <option value="audiobook">Audio Books</option>
              <option value="game">Games</option>
              <option value="movie">Movies</option>
              <option value="music">Music</option>
              <option value="porn">Pornography</option>
              <option value="software">Software</option>
              <option value="tv">TV</option>
            </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Artists</label>
            <div class="border" data-controller="torrent-artists" data-torrent-artists-url="http://localhost:3000/search">
              <div class="form-group search">
              <input type="text" name="query" id="query" value="" class="form-control form-control-sm" placeholder="Search artists and bands..." aria-label="Search" autocomplete="off" data-action="keyup->torrent-artists#fetchResults keydown->torrent-artists#navigateResults focus->torrent-artists#fetchResults" data-target="torrent-artists.query">
                <div data-target="torrent-artists.results"></div>
              </div>
              <div id="assigned-artists" class="scroll">
                  <span class="badge badge-dark" id="artist-596">
                    <input type="hidden" name="artist_ids[]" id="artist_ids_596" value="596">
                    Phish<span data-action="click->torrent-artists#removeArtist">&nbsp;×</span>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <div class="action">
              <input type="submit" name="commit" value="Save" class="btn btn-primary btn-sm" data-disable-with="Save">
              <div class="text-center d-md-inline">
                <a class="small" href="/artists/596/torrents">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
  <!-- // end torrent-meta-data -->
  <div class="card">
    <div class="card-header">
      <h5>
        Torrent Files
      </h5>
    </div>
    <div class="card-body">
      <table class="table torrent-files table-hover">
        <thead>
          <tr>
          <th>Name</th>
          <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-05 Seven Below.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-04 Dirt.mp3
          </td>
          <td>6 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-03 The Divided Sky.mp3
          </td>
          <td>22 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-02 Moma Dance.mp3
          </td>
          <td>17 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-01 Llama.mp3
          </td>
          <td>7 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-03 Secret Smile.mp3
          </td>
          <td>6 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-02 Walls of The Cave.mp3
          </td>
          <td>20 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-01 You Enjoy Myself.mp3
          </td>
          <td>37 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-02 Moma Dance.mp3
          </td>
          <td>17 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-04 Bug.mp3
          </td>
          <td>15 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-03 Twist.mp3
          </td>
          <td>32 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-02 Taste.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-01 Fast Enough For You.mp3
          </td>
          <td>10 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-07 On Your Way Down.mp3
          </td>
          <td>10 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-06 Chalk Dust Torture.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-05 Spock's Brain.mp3
          </td>
          <td>8 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-04 You Ain't Going Nowhere.mp3
          </td>
          <td>7 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-03 Scents And Subtle Sounds.mp3
          </td>
          <td>42 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-01 My Friend, My Friend.mp3
          </td>
          <td>9 MB</td>
          </tr>
        </tbody>
      </table>
      <!-- // end  torrent-files-->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
</div>
<!-- // end container-fluid -->