---
title: Do Not Sell My Info - Muzit
bodyClass:
---

<div class="container">
  <h1 class="my-4 text-center">
    California Consumer Privacy Act (CCPA)
  </h1>
  <h2 class="text-center">
    Do Not Sell My Information Rights
  </h2>
  <p>
    If you are a California resident, California Civil Code Section 1798.120 may permit you to “opt out” of the “sale” of your “personal information” to “third parties” (as those terms are defined in the CCPA). Our <%= link_to 'Privacy Policy', '../../privacy-policy/index.html' %>  describes the limited circumstances in which we may share your information with third parties outside Muzit. You can choose to opt out using the button below.
  </p>
  <div class="action text-center">
    <%= link_to 'Opt Out', '../do-not-sell-my-info/contact/index.html', class: 'btn btn-primary' %>
  </div>
</div>
