---
title: Create Report - Muzit
bodyClass: ip-address-reports
---
<h1 class="text-center my-4">
  Create IP Address Report
</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="form-container">
        <h5>
          Select Title Lists
        </h5>
        <p>
          Select the title lists to use in your report. This will limit the results to just the titles included in your lists. If you don't see a list you want to use you can easily create your own custom title list.
        </p>
        <form action="create-report-step3.html" method="get">
          <fieldset class="form-group check_boxes optional ip_address_report_candidate_artist_lists form-group-valid">
            <input type="hidden" name="ip_address_report_candidate[artist_lists][]" value="">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input class="custom-control-input check_boxes optional" type="checkbox" value="2" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_2">
              <label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_2">Kula Brands</label>
            </div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="14" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_14"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_14">Jacelyn Soundalikes</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="22" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_22"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_22">Donovan Lee Carpenter Soundalikes</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="16" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_16"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_16">Healx Natural</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="17" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_17"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_17">Country Music Fans</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="15" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_15"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_15">New Mothers</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="11" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_11"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_11">Travel</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="13" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_13"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_13">Auto Enthusiasts</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="3" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_3"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_3">Fitness Enthusiasts</label></div>
            <div class="custom-control custom-checkbox mr-sm-2"><input class="custom-control-input check_boxes optional" type="checkbox" value="21" name="ip_address_report_candidate[artist_lists][]" id="ip_address_report_candidate_artist_lists_21"><label class="custom-control-label collection_check_boxes" for="ip_address_report_candidate_artist_lists_21">Hip Hop Culture</label></div>
          </fieldset>
          <div class="action steps text-right">
            <div class="row">
              <div class="col-md-6 text-left">
                <%= link_to "Create Title List", "../../organization/title-lists/title-lists-add.html", class: 'btn btn-outline-primary' %>
              </div>
              <div class="col-md-6">
                <%= link_to "Cancel", "../ip-address-reports/ip-address-reports.html" %>
                <%= link_to "Back", "create-report.html", class: 'btn btn-outline-primary' %>
                <%= submit_tag "Next", class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>