---
title: Add IP Address List - Muzit
bodyClass: ip-address-reports
---
<h1 class="text-center my-4">
  Add IP Address List
</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form-container review">
        <h5>
          Review
        </h5>
        <p>
          Review your selections before saving the list.
        </p>
        <form action="dashboard-alert-report.html" method="get">
          <div class="my-3 p-3 bg-light rounded-sm">
            <div class="row">
              <div class="col-6">
                <h6>List Name </h6>
              </div>
              <div class="col-6 text-right">
                <a href="/organization/ip_address_reports/38/build/add_name">Update</a>
              </div>
            </div>
            <ul>
              <li>Kula</li>
            </ul>
          </div>
          <div class="my-3 p-3 bg-light rounded-sm">
            <div class="row">
              <div class="col-6">
                <h6>Titles</h6>
              </div>
              <div class="col-6 text-right">
                <a href="/organization/ip_address_reports/38/build/add_name">Update</a>
              </div>
            </div>
            <ul>
              <li>Kula List</li>
            </ul>
          </div>
          <div class="my-3 p-3 bg-light rounded-sm">
            <div class="row">
              <div class="col-6">
                <h6>Countries</h6>
              </div>
              <div class="col-6 text-right">
                <a href="/organization/ip_address_reports/38/build/add_name">Update</a>
              </div>
            </div>
            <ul>
              <li>United States</li>
            </ul>
          </div>
          <div class="my-3 p-3 bg-light rounded-sm">
            <div class="row">
              <div class="col-6">
                <h6>Regions for United States</h6>
              </div>
              <div class="col-6 text-right">
                <a href="/organization/ip_address_reports/38/build/add_name">Update</a>
              </div>
            </div>
            <ul>
              <li>Massachusetts</li>
            </ul>
          </div>
          <div class="action steps text-right">
            <%= link_to "Cancel", "../ip-address-reports/ip-address-reports.html" %>
            <%= link_to "Back", "create-report-step4.html", class: 'btn btn-outline-primary' %>
            <%= submit_tag "Save", class: 'btn btn-primary' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>