---
title: IP Address List - Muzit
bodyClass: lists ip-address-reports details
---
<div class="container">
  <h1 class="my-4 text-center">IP Address List</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <dl>
            <dt>Name</dt>
            <dd>CBD Report</dd>
            <dt>Created by</dt>
            <dd>Stuart Garner</dd>
            <dt>Artist Lists</dt>
            <dd>
              <ul>
                <li>CBD Athletes</li>
                <li>CBD Gamers</li>
              </ul>
            </dd>
            <dt>Countries</dt>
            <dd>
              <ul>
                <li>United States</li>
              </ul>
            </dd>
            <dt>Status</dt>
            <dd>Ready for download</dd>
            <dt>Started at</dt>
            <dd>Mar 12, 2020 23:38</dd>
            <dt>Finished at</dt>
            <dd>Mar 12, 2020 23:38</dd>
            <dt>Number of IP addresses</dt>
            <dd>93,322</dd>
          </dl>
          <div class="action">
            <input class="btn btn-primary" type="submit" value="Download List">
            <a href="#" onclick="window.history.go(-1); return false;">Back</a>
            <!-- <a href="../ip-address-reports/ip-address-reports.html">Back</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>