---
title: Download Lists - Muzit
bodyClass: lists
---
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-6">
      <h1 class="text-center text-md-left">Download Lists</h1>
    </div>
    <div class="col-md-6 text-center text-md-right">
      <form class="button_to" method="get" action="create-report.html">
        <input class="btn btn-primary btn-md" type="submit" value="Create Report">
      </form>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Status</th>
        <th># of IP Addresses</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/30">andrew</a></td>
        <td>Sep 17, 2020 5:28 PM UTC</td>
        <td>Ready for download</td>
        <td>35</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/30/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/29">Eric Bolling - WV and TX - 20200909</a></td>
        <td>Sep 9, 2020 9:31 PM UTC</td>
        <td>Ready for download</td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/29/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/28">Legal Help Center (CA and CO) - 2020-08-26</a></td>
        <td>Aug 26, 2020 2:28 PM UTC</td>
        <td>Ready for download</td>
        <td>400,824</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/28/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/27">Legal Help Center - 2020-08-25</a></td>
        <td>Aug 25, 2020 9:34 PM UTC</td>
        <td>Ready for download</td>
        <td>82,680</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/27/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/26">Favre CBD (expanded list) - 2020-08-21</a></td>
        <td>Aug 21, 2020 10:14 PM UTC</td>
        <td>Ready for download</td>
        <td>396,456</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/26/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/25">Favre CBD (expanded list) - 2020-08-20</a></td>
        <td>Aug 20, 2020 4:39 PM UTC</td>
        <td>Ready for download</td>
        <td>181,338</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/25/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/24">Favre CBD 2020-08-19 - All States</a></td>
        <td>Aug 20, 2020 2:33 AM UTC</td>
        <td>Ready for download</td>
        <td>192,597</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/24/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/23">Favre CBC (correct lists) - 2020-08-18</a></td>
        <td>Aug 18, 2020 9:38 PM UTC</td>
        <td>Ready for download</td>
        <td>81,907</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/23/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/22">Favre CBD - 2020-08-18</a></td>
        <td>Aug 18, 2020 9:31 PM UTC</td>
        <td>Ready for download</td>
        <td>41,892</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/22/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/21">Wisconsin - All</a></td>
        <td>Jul 31, 2020 8:05 PM UTC</td>
        <td>Ready for download</td>
        <td>33,693</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/21/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/20">Favre CBD - 2020-07-31 - All States</a></td>
        <td>Jul 31, 2020 4:53 PM UTC</td>
        <td>Ready for download</td>
        <td>151,994</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/20/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/19">Favre CBD - 2020-07-31</a></td>
        <td>Jul 31, 2020 4:46 PM UTC</td>
        <td>Ready for download</td>
        <td>56,630</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/19/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/18">Christian Movies &amp; TV (US Only) - June 9, 2020</a></td>
        <td>Jun 9, 2020 11:20 PM UTC</td>
        <td>Ready for download</td>
        <td>43,658</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/18/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/17">Christian Movies &amp; TV (US Only) - June 9, 2020</a></td>
        <td>Jun 9, 2020 10:38 PM UTC</td>
        <td>Failed</td>
        <td>43,658</td>
        <td class="action text-right text-nowrap">
          <span>Processing</span>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/16">Christian Artists (US Only) - June 9, 2020</a></td>
        <td>Jun 9, 2020 10:37 PM UTC</td>
        <td>Ready for download</td>
        <td>17,630</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/16/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/15">CBD - May 7</a></td>
        <td>May 7, 2020 9:05 PM UTC</td>
        <td>Ready for download</td>
        <td>29,398</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/15/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/14">Christian Artists &amp; Movies - Global</a></td>
        <td>Apr 16, 2020 9:11 PM UTC</td>
        <td>Ready for download</td>
        <td>850,697</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/14/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/13">Christian Artists &amp; Movies - US</a></td>
        <td>Apr 16, 2020 9:11 PM UTC</td>
        <td>Ready for download</td>
        <td>54,047</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/13/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/12">Christian Artists &amp; Movies - US and Canada</a></td>
        <td>Apr 7, 2020 2:41 AM UTC</td>
        <td>Ready for download</td>
        <td>68,281</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/12/download">Download</a>
        </td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/organization/ip_address_reports/11">Kula IPs</a></td>
        <td>Mar 12, 2020 11:43 PM UTC</td>
        <td>Ready for download</td>
        <td>38,923</td>
        <td class="action text-right text-nowrap">
          <a href="/organization/ip_address_reports/11/download">Download</a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav role="pagination" aria-label="Page navigation" class="pagination pagination-sm justify-content-center">
    <ul class="pagination">
      <li class="prev previous_page disabled page-item"><a class="page-link" href="#"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a></li>
      <li class="active page-item"><a class="page-link" href="/organization/ip_address_reports?page=1">1</a></li>
      <li class="page-item"><a rel="next" class="page-link" href="/organization/ip_address_reports?page=2">2</a></li>
      <li class="next next_page  page-item"><a class="page-link" rel="next" href="/organization/ip_address_reports?page=2">Next <i class="fas fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
</div>