---
title: Purchase List Confirmation - Muzit
bodyClass: purchase-confirmation
---
<div class="container">
  <h1 class="my-4 text-center">
    Thank You!
  </h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="icon">
            <i class="fas fa-check-circle"></i>
          </div>
          <h2 class="text-center">
            List Purchased
          </h2>
          <p>
            You have purchased <strong>Kula Brands</strong>. The list is ready to download. An email was sent to <strong>name@domain.com</strong> with the purchase details.
          </p>
          <div class="action text-center">
            <%= link_to "Continue", "../../index.html", :class => "btn btn-primary btn-md" %>
          </div>
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container -->