// admin torrent mapping tag editor

.tag-editor {
  border-radius: 4px;
  margin: .5rem 0 1rem 0 !important;
  padding: .25rem 0 !important;
}

.ui-autocomplete {
  border-radius: 2px;
}

.ui-autocomplete li {
  cursor: pointer;
  padding: 0 .5rem;
}

.ui-autocomplete li:hover {
  background: #f00;
  color: #fff;
}

// unmapped torrents

.torrents.unmapped {
  th {
    &:nth-child(1) {
      width: 60%;
    }
    &:nth-child(2) {
      text-align: left;
      width: 10%;
    }
    &:nth-child(3) {
      width: 10%;
    }
    &:nth-child(4) {
      width: 10%;
    }
    &:nth-child(5) {
      width: 10%;
    }
  }
  td {
    &:nth-child(2) {
      text-align: left;
    }
  }
}

// unmapped torrents edit

.torrents.unmapped.bulk-edit {
  th {
    &:nth-child(1) {
      width: 2%;
    }
    &:nth-child(2) {
      width: 65%;
    }
    &:nth-child(3) {
      text-align: left;
      width: 12%;
    }
    &:nth-child(4) {
      width: 12%;
    }
  }
  td {
    &:nth-child(3) {
      text-align: left;
    }
  }
}

// add organization table

.add-organization {
  table {
    background: #fff;
    border: 1px solid #dee2e6;
    th {
      &:nth-child(1) {
        width: 30%;
      }
      &:nth-child(2) {
        width: 15%;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 10%;
      }
      &:nth-child(5) {
        width: 15%;
      }
      &:nth-child(6) {
        width: 5%;
      }
      &:nth-child(7) {
        width: 20%;
      }
    }
    td.action {
      margin: 0;
      a:first-of-type {
        border-right: 1px solid #ddd;
        display: inline-block;
        margin-right: .5rem;
        padding: 0 .75rem;
      }
    }
  }
}

.organization-name {
  color: #fff;
  background: #f00;
  border-radius: 6px 0 0 0;
  bottom: 0;
  font-size: 14px;
  padding: .25rem .5rem;
  position: fixed;
  right: 0;
  width: auto;
  z-index: 9999;
}

// invite users

table.users th,
table.users td {
  vertical-align: middle;
}

table.users td span {
  display: inline-block;
  margin: 2px 5px 0 0;
  font-size: 1rem;
}

// lists

.lists {
  .form-container {
    margin-bottom: 2rem;
  }

  .search-results {
    margin-top: 12px;

    &:before {
      border: none; // remove dafault search results arrow
    }
  }
}
