.card {
  margin-bottom: 1.5rem;

  &.box-shadow {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  }

  &.card-margin-top {
    margin-top: 2rem;
  }

  .card-header {
    &.small {
      font-size: .85rem;
      font-weight: 300;
    }

    &.medium {
      font-size: 1rem;
    }

    &.large {
      font-size: 1.25rem;
    }
  }

  .alert {
    margin-bottom: 1.5rem;

    &.alert-danger {
      color: #fff;
    }
  }

  .table {
    margin-bottom: 0;
  }

  // if card parent container is justify-content-center:

  .justify-content-center & {

    // make card full width on x-small devices
    width: 100%;

    // make card fixed width on ≥ small devices if only one card exists in the parent
    @include media-breakpoint-up(sm) {
      &:only-of-type {
        width: 32rem;
      }
    }
  }
}

.definition-list-group {
  text-align: center;
  background: #fff;
  border: 1px solid #e1e8ee;
  border-radius: 3px;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem 0;
  }

  .list-item {
    border-bottom: 1px solid #e1e8ee;
    padding: 1rem;

    &:last-of-type {
      border-bottom: none;
    }

    @include media-breakpoint-up(md) {
      border-right: 1px solid #e1e8ee;
      border-bottom: none;
      flex: 1 1 auto;
      padding: 0 .65rem;
      margin: 1rem 0;

      &:last-of-type {
        border-right: none;
      }
    }
  }

  dt {
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  dd {
    color: #6a737d;
    font-size: 1.5rem;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: block;
      font-size: .85rem;
      line-height: normal;
      vertical-align: middle;
    }

    sup {
      font-size: 1rem;
      letter-spacing: 0.75rem;
      margin-right: -1rem;
      padding-right: .10rem;
      top: -.28rem;
    }
  }

  a {
    font-size: .85rem;
  }
}

.callout {
  background: #ff161f;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;

  .btn {
    border: 1px solid #fff;
  }
}