// dashboard

.dashboard {
  .credits-remaining div {
    @include media-breakpoint-down(sm) {
      padding-bottom: 1rem;
    }
  }

  .cards {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      &> :only-child {
        grid-column: 1/-1;
      }
    }
  }

  .card {
    .card-body {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      div {
        margin-top: auto;
      }
    }
  }

  .table {
    th {
      border-bottom: none;
      padding: 0;
    }

    td {
      border-top: none;
      padding: .55rem 0;
    }
  }
}