footer[role=contentinfo] {
  color: #fff;
  text-align: center;
  ul {
    padding: 0;
  }
  li {
    display: block;
    border-right: none;
    margin-bottom: .75rem;
    text-align: center;
    @include media-breakpoint-up(sm) {
      border-right: 1px solid #ccc;
      display: inline-block;
      margin: 0 .5rem 0 0;
      padding-right: .75rem;
      &:last-of-type {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  a {
    color: inherit;
    display: block;
    font-size: .85rem;
  }
  p {
    font-size: .80rem;
  }
}