footer[role=contentinfo] {
  color: #fff;

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: .25rem;
    }

    li {
      flex-shrink: 0; // prevent text from wrapping
      margin-bottom: .75rem;
      a {
        color: inherit;
        font-size: .80rem;
        @include media-breakpoint-up(sm) {
          padding: 0 .5rem;
          border-right: 1px solid #ccc;
        }
      }
      @include media-breakpoint-up(sm) {
        &:first-child a {
          padding: 0 .5rem 0 0;
        }

        &:last-child a {
          border-right: none;
          padding: 0 0 0 .5rem;
        }
      }
    }
  }

  p {
    font-size: .75rem;
    text-align: center;
  }
}