// ==============================
// ip address lists
// ==============================

body:not(.dashboard) {
  .table {
    &.ip-address-lists {
      th,
      td {
        &:nth-child(2) {
          text-align: right;

          display: none; // hide ip created column on xs-devices
          @include media-breakpoint-up(sm) {
            display: table-cell;
          }
        }
      }
    }

    &.download-lists {
      th,
      td {
        &:nth-child(2) {
          display: none; // hide ip address column on xs-devices
          @include media-breakpoint-up(sm) {
            display: table-cell;
          }
        }

        &:nth-child(3) {
          text-align: right;
        }
      }
    }
  }
}

.add-list {
  .card-header {
    font-weight: 600;
  }

  fieldset {
    &.form-group {
      margin-bottom: 1.5rem;
    }

    legend {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
    }

    .grid {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;

      legend {
        grid-column: span 2;
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;

        legend {
          grid-column: span 3;
        }

      }
    }
  }
}

.list-details {

  dl {
    div {
      background-color: #f8f9fa;
      border-radius: 4px;
      margin-bottom: 1rem;
      padding: .75rem;
    }

    dt {
      display: flex;
      font-size: .85rem;
      margin-bottom: .75rem;

      a {
        font-weight: normal;
        margin-left: auto;
      }
    }

    dd {
      font-size: .85rem;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        padding: 0;

        @include media-breakpoint-up(md) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}
