// ip-address-lists

.add-list {

  .card-header {
    font-weight: 600;
  }

  fieldset {
    &.form-group {
      margin-bottom: 1.5rem;
    }

    legend {
      font-weight: 600;
      line-height: 1;
    }

    .grid {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;

      legend {
        grid-column: span 2;
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;

        legend {
          grid-column: span 3;
        }

      }
    }
  }
}

.list-details {

  dl {
    div {

      padding: .75rem;
      background-color: #f8f9fa;
      border-radius: 4px;
      margin-bottom: 1rem;
    }

    dt {
      display: flex;
      margin-bottom: .75rem;

      a {
        font-weight: normal;
        margin-left: auto;
      }
    }

    dd ul {
      display: grid;
      //grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;

      list-style: none;
      padding: 0;

      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}