// ==============================
// pricing
// ==============================

.pricing {

  main {
    padding-bottom: 0;
  }

  .hero {
    background-color: #0d1724;
    margin-bottom: 3rem;
    position: relative;
    width: 100%;

    .image {
      position: relative;
      z-index: 1;
      max-height: 100vh;
      overflow: hidden;

      figure {
        margin: 0;
      }
    }

    img {
      max-height: 400px;
      object-fit: cover;
      object-position: center right;
      position: relative;
      vertical-align: middle;
      width: 100%;
      z-index: 1;
    }

    .text {
      color: #fff;
      left: 0;
      position: absolute;
      right: 0;
      text-shadow: 1px 1px #333;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;

      p {
        font-size: 1.25rem
      }

      @include media-breakpoint-up(md) {
        bottom: 0;
        transform: none;
      }

    }

    &:before {
      background-color: #000;
      content: "";
      display: block;
      opacity: 0.3;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: 2;
    }
  }

  .pricing-plan {
    overflow: hidden;
    position: relative;
    text-align: center;

    .card-header {
      background: none;
      font-weight: normal;
      text-transform: uppercase;
    }

    .card-body {

      .price {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0 1.5rem 0;


        span {
          display: inline-block;
        }

        .currency {
          font-size: 1rem;
          letter-spacing: 0.75rem;
          margin-right: -1.5rem;
        }

        .per {
          color: #a1a2ac;
          font-size: 1rem;
        }

      }

    }

    .ribbon {
      width: 160px;
      height: 32px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
      background: #343a40;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: -42px;
      top: 20px;
      padding-top: 7px
    }
  }
}