// purchase-history

.purchase-history {
  .account-details {
    text-align: center;

    @include media-breakpoint-up(md) {
      border-right: 1px solid #e1e8ee;
      display: flex;
      flex-direction: row;
      padding: 1rem 0;

      &:last-of-type {
        border-right: none;
      }
    }

    dl {
      border-bottom: 1px solid #e1e8ee;
      margin-bottom: 0;
      padding: 1rem .5rem;

      &:last-child {
        margin-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        flex: 1 1 auto;
        border-right: 1px solid #e1e8ee;
        border-bottom: none;

        &:last-of-type {
          border-right: none;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      dt {
        font-size: .80rem;
        font-weight: 700;
        margin-bottom: .5rem;
        text-transform: uppercase;
      }

      dd {
        color: #6a737d;
        font-size: 1.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          display: inline-block;
          font-size: .85rem;
          line-height: normal;
          vertical-align: middle;
        }

        sup {
          font-size: 1rem;
          letter-spacing: 0.75rem;
          margin-right: -1rem;
          padding-right: .10rem;
          top: -.28rem;
        }
      }

    }

    a {
      font-size: .85rem;
    }
  }
}