.purchase-details {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1.25rem;

  // force table-responsive-sm to display scroll bar for portrait orientation

  .table-responsive-sm {
    @include media-breakpoint-up(sm) {
      overflow-x: hidden; // hide overflow to remove extra space for landscape orientation
    }

    overflow-x: scroll;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, .5); /* should match background, can't be transparent */
    }
  }

  table {

    table-layout: auto;

    tr {
      border-top: 1px solid #ddd;

      &:first-of-type {
        border-top: none;
      }

      &:nth-child(2) th {
        font-size: .65rem;
        font-weight: 700;
        padding: .25rem .5rem;
        text-align: right;
      }

      &:first-of-type td {
        text-align: left;
        text-transform: uppercase;
      }

      &:last-of-type td {
        font-weight: bold;
      }
    }

    th {
      color: #959598;
      font-size: .75rem;
      font-weight: 400;
      padding: 0 .5rem;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
    }

    td {
      border-top: none;
      padding: .5rem;
      text-align: right;
    }
  }
}

.purchase-confirmation {
  .icon {
    margin: 1.5rem auto;
    text-align: center;

    i {
      color: #08c900;
      font-size: 4rem;
    }
  }
}