
.purchase-list {

  .form-group-switch {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 32rem;
    }

    .card {
      margin-bottom: 0;
    }

    .form-text {
      line-height: normal;
      margin-left: .60rem;
    }
  }
}

.purchase-details {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1.25rem;
  overflow-x: hidden;
  position: relative; // position scroll gradient

  .table-responsive-sm {

    // custom media query to display gradient indicating scroll on small device portrait mode
    @media (max-width: 438px) and (orientation: portrait) {

      &.gradient-right:after,
      &.gradient-left:before {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 20px;
      }

      &.gradient-right:after {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        right: 0;
      }

      &.gradient-left:before {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        left: 0;
      }
    }
  }

  table {

    table-layout: auto;

    tr {
      border-top: 1px solid #ddd;

      &:first-of-type {
        border-top: none;
      }

      &:nth-child(2) th {
        font-size: .65rem;
        font-weight: 700;
        padding: .25rem .5rem;
        text-align: right;
      }

      &:first-of-type td {
        text-align: left;
        text-transform: uppercase;
      }

      &:last-of-type td {
        font-weight: bold;
      }
    }

    th {
      color: #959598;
      font-size: .75rem;
      font-weight: 400;
      padding: 0 .5rem;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
    }

    td {
      border-top: none;
      padding: .5rem;
      text-align: right;
    }
  }
}

.purchase-confirmation {
  .icon {
    margin: 1.5rem auto;
    text-align: center;

    i {
      color: #08c900;
      font-size: 4rem;
    }
  }
}