// reseller


.reseller .card .card-body {
  padding: 1rem;
}

.reseller {
  .form-container {

    &.review {
      ul {
        list-style: none;
        padding: 0;
      }
    }
  }

  &.pricing {
    .pricing-box {
      .card-title {
        margin-bottom: 1rem;
      }

      .card-text {
        margin: 1.25rem 0;
      }
      .per {
        color: #a1a2ac;
      }
    }
  }
}

.buy-credits {
  .ip-blocks {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

.credits-remaining div {
  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
  }
}

.credit-details {
  .detail {
    border-bottom: 1px solid #e1e8ee;
    padding: 1rem;
    text-align: center;

    &:last-child {
      border-bottom: none;
    }

    @include media-breakpoint-up(md) {
      padding: 1rem 0;
      border-right: 1px solid #e1e8ee;
      border-bottom: none;

      &:last-of-type {
        border-right: none;
      }
    }


    h4 {
      font-size: .70rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .text {
      color: #6a737d;
      font-size: 1.5rem;
    }

    .date {
      display: inline-block;
      font-size: .85rem;
      line-height: normal;
      vertical-align: middle;
    }

    a {
      font-size: .85rem;
    }
  }
}