.search {
  position: relative;
}

.hide-search-results {
  display: none;
}

.search-results {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 2px;
  border-top: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  top: 2em;
  left: 0;
  position: absolute;
}

.search-result {
  a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }
}

.search-result--current, .search-result:hover {
  background: #e0e0e0;
}

.search-result--empty {
  padding: 10px;
}
