body {
  display: flex;
  flex-direction: column;
  margin-top: 4rem !important;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: 3rem;
}

h2 {
  font-size: 1.25rem;
}

dt {
  font-size: 1rem;
  font-weight: 300;
}

.header-dropdown {
  margin: 1.5rem 0;
}

.header-dropdown h2 {
  margin: 0;
}

.navbar-toggler {
  border: none;
}

// nav

nav[role=navigation] {
  background-color: $nav-bg-color !important;
  opacity: 0.95;
}

nav .search input.form-control {
  border: none;
  border-radius: 30px;
}

nav .search .input-group-append button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  background: white;
  cursor: pointer;
  padding-right: 10px;
}

nav .search input.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

@include media-breakpoint-down(sm) {
  nav .search {
    padding: .55rem 0 .35rem 0;
  }
}

// browse artists

.artist-thumbnail {
  border-radius: 0;
  border: 1px solid #C0C0C0;
  height: 75%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.artist-thumbnail img  {
  object-fit: cover;
  width: 100%;
  transition: all 0.5s ease;
}

.artist-thumbnail img:hover {
  transform: scale(1.4);
}

.artist-thumbnail > .image-footer {
  width: 100%;
  bottom: 0;
  height: 35px;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
}

.artist-thumbnail > .artist-name {
  margin-left: 3%;
  bottom: 0;
  position: absolute;
  color: #fff;
  font-weight: 700;
  line-height: 2;
  text-shadow: 0px 1px 2px #333;
}

.artist-thumbnail .artist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 10px);
}

// increase height for small devised

@include media-breakpoint-down(xs) {
  .artist-thumbnail  {
    height: 300px !important;
    margin-bottom: 4rem;
  }
}

@include media-breakpoint-down(sm) {
  .artist-thumbnail  {
    height: 300px !important;
    margin-bottom: 4rem;
  }
}

// make load more button full width

@include media-breakpoint-down(sm) {
  .artists {
    .btn-outline-primary {
      width: 100%;
    }
  }
}

// artist details

.artist-details .hero {
  height: 300px;
  background: url('/images/phish.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.artist-details .hero.image-none {
  height: 200px;
  background: #222;
  position: relative;
  width: 100%;
}

.artist-details .hero:before {
  background-color: #323232;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.artist-details .hero h1 {
  position: relative;
}

.artist-details .hero h1,
.artist-details .hero .data,
.artist-details .hero .label,
.artist-details .hero .oi {
  text-shadow: 1px 1px #333;
}

.artist-details .hero .data {
  font-size: 2rem;
  font-weight: bold;
  line-height: .90rem;
}

.artist-details .hero .label {
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 300;
}

.artist-details .hero .oi {
  font-size: 1.35rem;
}

.artist-details .hero-container  {
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

table.download-origins {
  font-size: 12px;
}

table.download-origins th {
  font-weight: normal;
  text-transform: uppercase;
  padding: .5rem
}

table.download-origins th:last-of-type {
  text-align: right;
}

table.download-origins td {
  font-size: .75rem;
  padding: .5rem
}

table.download-origins td {
  font-size: .75rem;
  padding: .5rem
}

table.download-origins td:last-of-type {
  text-align: right;
}

table.download-origins tr:last-of-type {
  border-bottom: 1px solid #dee2e6;
}

// boostrap overrides

.card {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  margin-bottom: 1.5rem;
}

.card-header {
  background: white;
  padding: .65rem 1rem;
}

.card-header h5 {
  font-size: .85rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.dropdown-item {
  font-size: .85rem;
  padding: .25rem 1rem;
}