body {
  display: flex;
  flex-direction: column;
  margin-top: 4rem !important;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: 3rem;
  position: relative;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

dt {
  font-size: .80rem;
  font-weight: 700;
}

dd {
  font-size: .85rem;
}

.header-dropdown {
  margin: 1.5rem 0;
}

.header-dropdown h2 {
  margin: 0;
}

// browse artists

.artists .custom-select.categories {
  margin-bottom: 1rem;
}

.artist-thumbnail {
  border-radius: 0;
  border: 1px solid #222;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin-bottom: 2rem;
}

.artist-thumbnail a  {
  display: block;
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
}

.artist-thumbnail a:hover {
  transform: scale(1.4);
}

.artist-thumbnail a:before {
  background-color: #323232;
  content: "";
  display: block;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.artist-thumbnail img  {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.artist-thumbnail .artist-name {
  bottom: 0;
  color: #fff;
  height: auto;
  overflow: hidden;
  padding: .35rem .5rem ;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  text-shadow: 0px 1px 2px #333;
  white-space: nowrap;
  width: 100%;
}

.artist-thumbnail .fas {
  color: #fff;
  font-weight: bold;
  height: auto;
  pointer-events: none;
  position: absolute;
  right: 8px;
  text-shadow: 0px 1px 2px #333;
  top: 8px;
}

// set fixed height for artist images to maintain consistency accross device breakpoints

@include media-breakpoint-down(sm) {
  .artist-thumbnail  {
    height: 250px !important;
  }
}

@include media-breakpoint-down(md) {
  .artist-thumbnail  {
    height: 300px;
  }
}

@include media-breakpoint-down(lg) {
  .artist-thumbnail  {
    height: 200px;
  }
}

@include media-breakpoint-down(xl) {
  .artist-thumbnail  {
    height: 200px;
  }
}

// make load more button full width

@include media-breakpoint-down(sm) {
  .artists {
    .btn-outline-primary {
      width: 100%;
    }
  }
}

// artist details

.artist-details .hero .hero-container {
  background-color: #26252d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 400px;
  overflow: visible;
  position: relative;
  width: 100%;
  &:before {
    background-color: #323232;
    content: "";
    display: block;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}

// follow/unfollow artists button

.artist-details .hero button {
  margin-bottom: 1.5rem;
  span.oi {
    text-shadow: none;
    font-size: 1rem;
    margin-right: .15rem;
  }
  &.btn-following-artist {
    background: #08c900;
    border: #08c900;
    color: #fff;
  }
}

// artist-details hero no-image

.artist-details .hero.no-image .hero-container {
  background: #26252d;
  background-image: none !important;
  height: auto;
  .meta {
    position: static; // prevent h1 text clipping
  }
  &:before {
    background: none;
  }
}

.artist-details .hero .meta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  width: 100%;
}

.artist-details .hero h1 {
  color: #fff;
  display: inline-block;
  line-height: normal;
  margin: 0 1rem 1rem 0;
  position: relative;
}

.artist-details .hero h1,
.artist-details .hero .stats {
  text-shadow: 1px 1px #333;
}

.artist-details .hero .meta .stats .data {
  font-size: 2rem;
  font-weight: bold;
  line-height: .90rem;
}

.artist-details .hero .meta .stats .label {
  display: block;
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 300;
}

.artist-details .hero .meta .stats .icon {
  font-size: 1.35rem;
  line-height: 1;
  margin-right: .5rem;
}

.artist-details .mobile-stats {
  background: #26252d;
}

.artist-details .stats-filter {
  a {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1px;
    font-size: .80rem;
    margin-left: .5rem;
    padding: .20rem;
    transition: 0.3s;
    &:hover,
    &.active  {
      background: #ff161f;
      color: #fff;
      text-decoration: none;
    }
  }
}

.artist-details .stats .h3 {
  margin-bottom: 0;
}

// download origins table

table.download-origins th:last-of-type,
table.download-origins td:last-of-type {
  text-align: right;
}

table.download-origins th:last-of-type {
  white-space: nowrap;
}

table.download-origins th:first-of-type,
table.download-origins td:first-of-type {
  width: 80%;
}

table.download-origins th:last-of-type,
table.download-origins td:last-of-type {
  width: 20%;
}

// torrents table

table.torrents {
  width: 100%;
}

.table-scroll {
  height: 320px;
  overflow-y: scroll;
}

table.torrents th,
table.torrents td {
  white-space: nowrap;
}

table.torrents th:first-of-type,
table.torrents td:first-of-type {
  width: 64%;
}

table.torrents th:nth-last-child(-n+3),
table.torrents td:nth-last-child(-n+3) {
  text-align: right;
  width: 12%;
}

table.torrents td span.oi {
  margin-left: .25rem;
}

table.torrents .table-scroll {
  overflow-y: scroll;
}

// hide torrents table size, % changed and downloads columns on small devices

@include media-breakpoint-down(sm) {
  table.torrents th:first-of-type,
  table.torrents td:first-of-type {
    width: 100%;
  }
  table.torrents th:nth-last-child(-n+3),
  table.torrents td:nth-last-child(-n+3) {
    display: none;
  }
}

// torrent details

.torrent-meta-data {
  label {
    display: block;
    font-size: .80rem;
    font-weight: 700;
    margin-bottom: .25rem;
  }
  .text {
    display: block;
    font-size: .85rem;
    margin-bottom: .75rem;
  }
  .border {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: .5rem;
  }
  .search {
    margin-bottom: .25rem;
  }
  .search-results {
    top: 1.10rem;
  }
  .artist {
    span {
      &::after {
        content: ', ';
      }
      &:last-of-type::after {
        content: '';
      }
    }
  }
  .scroll {
    height: 76px;
    overflow: auto;
    width: auto;
  }
  &.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
  }
}

.torrent-files {
  th:last-of-type,
  td:last-of-type {
    text-align: right;
    white-space: nowrap;
    width: 15%;
  }
}

// artist-details households by country table

.artist-details .households-by-country {
  height: 320px;
  overflow-y: auto;
  padding: 0 .5rem 1rem;
  table {
    margin-bottom: 0;
    thead {
      th {
        background: #fff;
        position: sticky; // apply sticky to th to fix thead not being supported chrome
        top: 0;
        &:nth-child(1) {
          width: 19%;
        }
        &:nth-child(2) {
          width: 48%;
        }
        &:nth-child(3) {
          width: 33%;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
    td {
      .oi {
        margin-right: .25rem;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}

// pagination

@media screen and (max-width:767px) {
  .pagination {
    li.page-item {
      display: none
    }
    li.page-item.next,
    li.page-item.prev {
      display: inline
    }
  }
}

// organization - billing

.billing  {
  h2 {
    font-size: 1.25rem;
  }
  .overview {
    background-color: #fff;
    border: 1px solid #e1e8ee;
    border-radius: 4px;
    overflow: hidden;
    &.payments {
      @include media-breakpoint-up(md) {
        padding: 1rem;
      }
    }
    &.payment-method {
      padding: 1rem;
      h4,
      .text,
      a {
        display: inline-block;
        font-size: .85rem;
      }
    }
  }
  .details {
    border-bottom: 1px solid #e1e8ee;
    padding: 1rem;
    text-align: center;
    &:last-child {
      border-bottom: none;
    }
    @include media-breakpoint-up(md) {
      padding: 1rem 0;
      border-right: 1px solid  #e1e8ee;
      border-bottom: none;
      &:last-of-type {
        border-right: none;
      }
    }
    h4 {
      font-size: .70rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .text {
      color: #6a737d;
      font-size: 1.5rem;
    }
    .date {
      display: inline-block;
      font-size: .85rem;
      line-height: normal;
      vertical-align: middle;
    }
    a {
      font-size: .85rem;
    }
  }
  .payment-history {
    background-color: #fff;
  }
  a.btn {
    display: inline-block;
    margin: 2rem 0;
  }
}


.container-background-border {
  background-color: #fff;
  border: 1px solid #e1e8ee;
  border-radius: 4px;
  padding: 1rem;
}


// boostrap overrides

.card {
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  margin-bottom: 1.5rem;
}

.card-header {
  background: white;
  padding: .65rem 1rem;
}

.card-header h5 {
  font-size: .85rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.card-body {
  padding: .5rem 1rem;
}

.dropdown-item {
  font-size: .85rem;
  padding: .25rem 1rem;
}

.table-responsive {
  display: inline-block !important;
}

table {
  font-size: .80rem;
  table-layout: fixed; // allow truncated text
}

table th {
  border-top: none !important;
  font-weight: bold;
  text-transform: uppercase;
}

table th,
table td {
  padding: .55rem .25rem .55rem 0;
}

.badge {
  font-size: .85rem;
  font-weight: normal;
}

.badge {
  display: inline-block;
  margin: .25rem .25rem .45rem 0;
}

.alert {
  border: none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
  left: 0;
  width: 100%;
  .close {
    color: inherit;
    line-height: .90;
    opacity: 1;
    text-shadow: none;
  }
}

.table.users {
  background: #fff;
  border: 1px solid #dee2e6;
  th, td {
    padding: .5rem;
  }
}
