body {
  display: flex;
  flex-direction: column;
  margin-top: 4rem !important;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: 3rem;
}

h2 {
  font-size: 1.25rem;
}

dt {
  font-size: .80rem;
  font-weight: 700;
}

dd {
  font-size: .85rem;
}

.header-dropdown {
  margin: 1.5rem 0;
}

.header-dropdown h2 {
  margin: 0;
}

.form-container {
  border-radius: 4px;
  background: #fff;
  padding: 2rem;
  border: 1px solid #ddd;
}

.sign-in {
  h1 {
    margin-bottom: 2rem;
  }
  img.logo {
    margin-bottom: 2rem;
  }
  input {
    transition: all 0.5s;
  }
  p {
    margin-bottom: 2.5rem;
  }
  // floating labels
  .form-group {
    position: relative;
    margin-bottom: 2rem;
  }
  label {
    &.floating {
      position: absolute;
      top: -13px;
      left: 0;
      color: #333;
      transition: all 0.1s linear;
      opacity: 0;
      &.on {
        color: #333;
      }
      &.show {
        top: -25px;
        opacity: 1;
      }
    }
  }
}

// nav

.navbar-toggler {
  border: none; // remove hamburger border
}

nav[role=navigation] {
  //background: $nav-bg-color;
  background-color: rgba(16, 14, 23, 0.9);
}

nav .search input.form-control {
  border: none;
  border-radius: 30px;
}

nav .search .input-group-append button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  background: white;
  cursor: pointer;
  padding-right: 10px;
}

nav .search input.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

@include media-breakpoint-down(sm) {
  nav .search {
    padding: .55rem 0 .35rem 0;
  }
}

// browse artists

.artist-thumbnail {
  border-radius: 0;
  border: 1px solid #222;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin-bottom: 2rem;
}

.artist-thumbnail a  {
  display: block;
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
}

.artist-thumbnail a:hover {
  transform: scale(1.4);
}

.artist-thumbnail a:before {
  background-color: #323232;
  content: "";
  display: block;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.artist-thumbnail img  {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.artist-thumbnail .artist-name {
  bottom: 0;
  color: #fff;
  height: auto;
  overflow: hidden;
  padding: .35rem .5rem ;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  text-shadow: 0px 1px 2px #333;
  white-space: nowrap;
  width: 100%;
}

// set fixed height for artist images to maintain consistency accross device breakpoints

@include media-breakpoint-down(sm) {
  .artist-thumbnail  {
    height: 250px !important;
  }
}

@include media-breakpoint-down(md) {
  .artist-thumbnail  {
    height: 300px;
  }
}

@include media-breakpoint-down(lg) {
  .artist-thumbnail  {
    height: 200px;
  }
}

@include media-breakpoint-down(xl) {
  .artist-thumbnail  {
    height: 200px;
  }
}

// make load more button full width

@include media-breakpoint-down(sm) {
  .artists {
    .btn-outline-primary {
      width: 100%;
    }
  }
}

// artist details

.artist-details .hero .hero-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  &:before {
    background-color: #323232;
    content: "";
    display: block;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}

.artist-details .hero.no-image .hero-container {
  background-color: rgba(16, 14, 23, 0.9);
  background-image: none !important;
  height: 200px;
  &:before {
    background: none;
    opacity: 1;
  }
}

.artist-details .hero .hero-artist-stats {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  width: 100%;
}

.artist-details .hero h1 {
  position: relative;
}

.artist-details .hero h1,
.artist-details .hero .data,
.artist-details .hero .label,
.artist-details .hero .oi {
  text-shadow: 1px 1px #333;
}

.artist-details .hero .data {
  font-size: 2rem;
  font-weight: bold;
  line-height: .90rem;
}

.artist-details .hero .label {
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 300;
}

.artist-details .hero .oi {
  font-size: 1.35rem;
}

.artist-details .mobile-stats {
  background: #24292e;
}

// download origins table

table.download-origins th:last-of-type,
table.download-origins td:last-of-type {
  text-align: right;
}

table.download-origins th:last-of-type {
  white-space: nowrap;
}

table.download-origins th:first-of-type,
table.download-origins td:first-of-type {
  width: 80%;
}

table.download-origins th:last-of-type,
table.download-origins td:last-of-type {
  width: 20%;
}

// torrents table

table.torrents {
  width: 100%;
  //display: table;
}

.table-scroll {
  height: 320px;
  overflow-y: scroll;
}

table.torrents th,
table.torrents td {
  white-space: nowrap;
}

table.torrents th:first-of-type,
table.torrents td:first-of-type {
  width: 64%;
}

table.torrents th:nth-last-child(-n+3),
table.torrents td:nth-last-child(-n+3) {
  text-align: right;
  width: 12%;
}

table.torrents td span.oi {
  margin-left: .25rem;
}

table.torrents .table-scroll {
  overflow-y: scroll;
}

// hide torrents table size, % changed and downloads columns on small devices

@include media-breakpoint-down(sm) {
  table.torrents th:first-of-type,
  table.torrents td:first-of-type {
    width: 100%;
  }
  table.torrents th:nth-last-child(-n+3),
  table.torrents td:nth-last-child(-n+3) {
    display: none;
  }
}

// torrent details

.torrent-meta-data {
  dl {
    margin-bottom: 0;
  }
  .associated-artists {
    span {
      &::after {
        content: ', ';
      }
      &:last-of-type::after {
        content: '';
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .torrent-meta-data .stat {
    dt, dd {
      display: inline-block;
    }
  }
}

.torrent-files {
  th:last-of-type,
  td:last-of-type {
    text-align: right;
    white-space: nowrap;
    width: 15%;
  }
}

// pagination

@media screen and (max-width:767px) {
  .pagination {
    li.page-item {
      display: none
    }
    li.page-item.next,
    li.page-item.prev {
      display: inline
    }
  }
}

// utilities

.action {
  margin: 1.5rem 0 1rem 0;
}

// boostrap overrides

.card {
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  margin-bottom: 1.5rem;
}

.card-header {
  background: white;
  padding: .65rem 1rem;
}

.card-header h5 {
  font-size: .85rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.card-body {
  padding: .5rem 1rem;
}

.dropdown-item {
  font-size: .85rem;
  padding: .25rem 1rem;
}

.table-responsive {
  display: inline-block !important;
}

table {
  font-size: .80rem;
  table-layout: fixed; // allow truncated text
}

table th {
  border-top: none !important;
  font-weight: bold;
  text-transform: uppercase;
}

table th,
table td {
  padding: .55rem .25rem .55rem 0 !important;
}

.badge {
  font-size: .85rem;
  font-weight: normal;
}

.badge {
  display: inline-block;
  margin: .25rem .25rem .45rem 0;
}

.alert {
  border: none;
  border-radius: 0;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
