// ==============================
// title details
// ==============================

.artist-details .hero .hero-container {
  background-color: #26252d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 400px;
  overflow: visible;
  position: relative;
  width: 100%;
  &:before {
    background-color: #323232;
    content: "";
    display: block;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}

// follow/unfollow artists button

.artist-details .hero button {
  margin-bottom: 1.5rem;
  span.oi {
    text-shadow: none;
    font-size: 1rem;
    margin-right: .15rem;
  }
  &.btn-following-artist {
    background: #08c900;
    border: #08c900;
    color: #fff;
  }
}

// artist-details hero no-image

.artist-details .hero.no-image .hero-container {
  background: #26252d;
  background-image: none !important;
  height: auto;
  .meta {
    position: static; // prevent h1 text clipping
  }
  &:before {
    background: none;
  }
}

.artist-details .hero .meta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  width: 100%;
}

.artist-details .hero h1 {
  color: #fff;
  display: inline-block;
  line-height: normal;
  margin: 0 1rem 1rem 0;
  position: relative;
}

.artist-details .hero h1,
.artist-details .hero .stats {
  text-shadow: 1px 1px #333;
}

.artist-details .hero .meta .stats .data {
  font-size: 2rem;
  font-weight: bold;
  line-height: .90rem;
}

.artist-details .hero .meta .stats .label {
  display: block;
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 300;
}

.artist-details .hero .meta .stats .icon {
  font-size: 1.35rem;
  line-height: 1;
  margin-right: .5rem;
}

.artist-details .card {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.artist-details .card .card-header {
  background: white;
  line-height: 1;
  padding: .65rem 1rem;
}

.artist-details .card .card-header h5 {
  font-size: .85rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.artist-details .mobile-stats {
  background: #26252d;
}

.artist-details .stats-filter {
  a {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1px;
    font-size: .80rem;
    margin-left: .5rem;
    padding: .20rem;
    transition: 0.3s;
    &:hover,
    &.active  {
      background: #ff161f;
      color: #fff;
      text-decoration: none;
    }
  }
}

.artist-details .stats .h3 {
  margin-bottom: 0;
}

// download origins table

table.download-origins th:last-of-type,
table.download-origins td:last-of-type {
  text-align: right;
}

table.download-origins th:last-of-type {
  white-space: nowrap;
}

table.download-origins th:first-of-type,
table.download-origins td:first-of-type {
  width: 80%;
}

table.download-origins th:last-of-type,
table.download-origins td:last-of-type {
  width: 20%;
}

// torrents table

table.torrents {
  width: 100%;
}

.table-scroll {
  height: 320px;
  overflow-y: scroll;
}

table.torrents th,
table.torrents td {
  white-space: nowrap;
}

table.torrents th:first-of-type,
table.torrents td:first-of-type {
  width: 64%;
}

table.torrents th:nth-last-child(-n+3),
table.torrents td:nth-last-child(-n+3) {
  text-align: right;
  width: 12%;
}

table.torrents td span.oi {
  margin-left: .25rem;
}

table.torrents .table-scroll {
  overflow-y: scroll;
}

// hide torrents table size, % changed and downloads columns on small devices

@include media-breakpoint-down(sm) {
  table.torrents th:first-of-type,
  table.torrents td:first-of-type {
    width: 100%;
  }
  table.torrents th:nth-last-child(-n+3),
  table.torrents td:nth-last-child(-n+3) {
    display: none;
  }
}

// artist-details households by country table

.artist-details .households-by-country {
  height: 320px;
  overflow-y: auto;
  padding: 0 .5rem 1rem;
  table {
    margin-bottom: 0;
    thead {
      th {
        background: #fff;
        position: sticky; // apply sticky to th to fix thead not being supported chrome
        top: 0;
        &:nth-child(1) {
          width: 19%;
        }
        &:nth-child(2) {
          width: 48%;
        }
        &:nth-child(3) {
          width: 33%;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
    td {
      .oi {
        margin-right: .25rem;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}