
// trial

.trial {
  margin-top: 0 !important;
 .form-container {
    margin-top: 3rem;
  }
  h1 {
    font-size: 1.25rem;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: .75rem;
    margin-bottom: 1rem;
  }

  form {
    background: #f8f9fa;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px
  }
}