// custom sass varibles

$nav-bg-color: #24292e;

// boostrap variables

$body-bg: #fff;
$body-color: #333;

// boostrap theme-colors variables

$theme-colors: (
  "primary": #ff161f,
  "danger": #ff4136
);