---
title: Credit Card Declined - Muzit
bodyClass:
---
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Credit card declined</h5>
        <div class="card-body">
          <p class="card-text">
            The credit card you have on file has been declined. Please add a new card to reinstate your account.
          </p>
          <div class="action text-center">
            <%= link_to 'Update Credit Card', '../organization/credit-card.html', class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container -->