---
title: Artist Details - Muzit
bodyClass: artists
---
<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">Artists</h1>
  <h5 class="font-weight-light mb-4">P</h5>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="artist-thumbnail">
         <a class="h-100" title="Phish" href="../artist-details/index.html">
          <img class="img-fluid" alt="Phish" src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/938/MI0003938466.jpg?partner=allrovi.com">
         </a>
         <span class="artist-name">Phish</span>
      </div>
      <!-- // end artist-thumbnail -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container-fluid -->

<div class="modal fade" id="modal-credit-card-declined" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Credit card declined</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The credit card you have on file has been declined. Please add a new card to reinstate your account.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link btn-sm" data-dismiss="modal">Cancel</button>
        <%= link_to 'Update Credit Card', '../organization/credit-card.html', class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
</div>