---
title: Artist Details - Muzit
bodyClass: artists none
---

<div class="alert alert-success" id="alert-sign-up" role="alert">
  You have sucessefully created an account.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container">
  <h1 class="my-4 text-center text-md-left">Welcome to Muzit!</h1>
  <h2 class="text-center text-md-left">
    You are not following any artists.
  </h2>
</div>
<!-- // end container-fluid -->