<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">Top 10 Artists by Downloads - World Wide</h1>

  <table class="table table-hover reports">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Rank</th>
        <th>Prev</th>
        <th>Artist</th>
        <th>Downloads</th>
        <th>% of Overall</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span></td>
            <td>1</td>
            <td>3</td>
            <td><a href="/artists/213132">DC Entertainment</a></td>
            <td>506,310</td>
            <td>34.43%</td>
            <td>
              <div class="bar" style="width: 34.43%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span></td>
            <td>2</td>
            <td>1</td>
            <td><a href="/artists/2115">Live</a></td>
            <td>188,974</td>
            <td>12.85%</td>
            <td>
              <div class="bar" style="width: 12.85%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span></td>
            <td>3</td>
            <td>6</td>
            <td><a href="/artists/28">Ed Sheeran</a></td>
            <td>109,443</td>
            <td>7.44%</td>
            <td>
              <div class="bar" style="width: 7.44%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span></td>
            <td>4</td>
            <td>9</td>
            <td><a href="/artists/15533">Disc</a></td>
            <td>99,276</td>
            <td>6.75%</td>
            <td>
              <div class="bar" style="width: 6.75%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span></td>
            <td>5</td>
            <td>8</td>
            <td><a href="/artists/3178">ALL</a></td>
            <td>94,289</td>
            <td>6.41%</td>
            <td>
              <div class="bar" style="width: 6.41%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span></td>
            <td>6</td>
            <td>4</td>
            <td><a href="/artists/694">David Guetta</a></td>
            <td>86,543</td>
            <td>5.88%</td>
            <td>
              <div class="bar" style="width: 5.88%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span></td>
            <td>7</td>
            <td>2</td>
            <td><a href="/artists/209436">Marvel Entertainment</a></td>
            <td>83,492</td>
            <td>5.68%</td>
            <td>
              <div class="bar" style="width: 5.68%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span></td>
            <td>8</td>
            <td>10</td>
            <td><a href="/artists/2897">So</a></td>
            <td>78,590</td>
            <td>5.34%</td>
            <td>
              <div class="bar" style="width: 5.34%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span></td>
            <td>9</td>
            <td>5</td>
            <td><a href="/artists/235">The Who</a></td>
            <td>76,859</td>
            <td>5.23%</td>
            <td>
              <div class="bar" style="width: 5.23%;">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span></td>
            <td>10</td>
            <td>16</td>
            <td><a href="/artists/206625">UFC</a></td>
            <td>76,747</td>
            <td>5.22%</td>
            <td>
              <div class="bar" style="width: 5.22%;">&nbsp;</div>
            </td>
          </tr>
    </tbody>
  </table>

  <br><br>
  <table class="table table-hover reports">
    <tbody>
          <tr>
            <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span></td>
            <td>13</td>
            <td>7</td>
            <td><a href="/artists/947">Sia</a></td>
            <td>70,213</td>
            <td>4.77%</td>
            <td>
              <div class="bar" style="width: 4.77%;">&nbsp;</div>
            </td>
          </tr>
    </tbody>
  </table>
</div>
