---
title: Reports: Top 10 Artists by Downloads World Wide - Muzit
bodyClass: reports
---

<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">Top 10 Artists by Downloads</h1>
  <h2 class="text-center text-md-left">World Wide</h2>
  <form>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <input class="form-control" id="countries" type="text" placeholder="Enter country">
        </div>
      </div>
      <!-- // end column -->
      <div class="col-md-3">
        <div class="form-group">
          <input class="form-control" id="states" type="text" placeholder="Enter state">
        </div>
      </div>
      <!-- // end column -->
      <div class="col-md-3">
        <div class="form-group">
          <select class="custom-select custom-select-md">
            <option selected>Select month...</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="3">April</option>
            <option value="3">May</option>
            <option value="3">June</option>
            <option value="3">July</option>
            <option value="3">August</option>
            <option value="3">September</option>
            <option value="3">October</option>
            <option value="3">November</option>
            <option value="3">December</option>
          </select>
        </div>
      </div>
      <!-- // end column  -->
      <div class="col-md-3">
        <div class="form-group">
          <select class="custom-select custom-select-md">
            <option selected>Select year...</option>
            <option value="1">2019</option>
            <option value="2">2018</option>
            <option value="3">2017</option>
            <option value="3">2016</option>
            <option value="3">2015</option>
            <option value="3">2014</option>
            <option value="3">2013</option>
            <option value="3">2012</option>
            <option value="3">2011</option>
            <option value="3">2010</option>
          </select>
        </div>
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->
  </form>
  <table class="table table-hover reports details">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Rank</th>
        <th>Prev</th>
        <th>Artist</th>
        <th>Downloads</th>
        <th>% of Overall</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
        </td>
        <td>1</td>
        <td>3</td>
        <td class="text-truncate">
          <a href="/artists/213132">DC Entertainment</a>
        </td>
        <td>506,310</td>
        <td>34.43%</td>
        <td>
          <div class="downloads">
            <span style="width: 34.43%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
        </td>
        <td>2</td>
        <td>1</td>
        <td class="text-truncate">
          <a href="/artists/2115">Live</a>
        </td>
        <td>188,974</td>
        <td>12.85%</td>
        <td>
          <div class="downloads">
            <span style="width: 12.85%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
        </td>
        <td>3</td>
        <td>6</td>
        <td class="text-truncate">
          <a href="/artists/28">Ed Sheeran</a>
        </td>
        <td>109,443</td>
        <td>7.44%</td>
        <td>
          <div class="downloads">
            <span style="width: 7.44%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
        </td>
        <td>4</td>
        <td>9</td>
        <td class="text-truncate">
          <a href="/artists/15533">Disc</a>
        </td>
        <td>99,276</td>
        <td>6.75%</td>
        <td>
          <div class="downloads">
            <span style="width: 6.75%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
        </td>
        <td>5</td>
        <td>8</td>
        <td class="text-truncate">
          <a href="/artists/3178">ALL</a>
        </td>
        <td>94,289</td>
        <td>6.41%</td>
        <td>
          <div class="downloads">
            <span style="width: 6.41%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
        </td>
        <td>6</td>
        <td>4</td>
        <td class="text-truncate">
          <a href="/artists/694">David Guetta</a>
        </td>
        <td>86,543</td>
        <td>5.88%</td>
        <td>
          <div class="downloads">
            <span style="width: 5.88%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
        </td>
        <td>7</td>
        <td>2</td>
        <td class="text-truncate">
          <a href="/artists/209436">Marvel Entertainment</a>
        </td>
        <td>83,492</td>
        <td>5.68%</td>
        <td>
          <div class="downloads">
            <span style="width: 5.68%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
        </td>
        <td>8</td>
        <td>10</td>
        <td class="text-truncate">
          <a href="/artists/2897">So</a>
        </td>
        <td>78,590</td>
        <td>5.34%</td>
        <td>
          <div class="downloads">
            <span style="width: 5.34%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-danger"><span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
        </td>
        <td>9</td>
        <td>5</td>
        <td class="text-truncate">
          <a href="/artists/235">The Who</a>
        </td>
        <td>76,859</td>
        <td>5.23%</td>
        <td>
          <div class="downloads">
            <span style="width: 5.23%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-success"><span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
        </td>
        <td>10</td>
        <td>16</td>
        <td class="text-truncate">
          <a href="/artists/206625">UFC</a>
        </td>
        <td>76,747</td>
        <td>5.22%</td>
        <td>
          <div class="downloads">
            <span style="width: 5.22%;">
              <span class="meter"></span>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- // end table -->
  <div class="action text-center">
    <%=link_to 'Go Back', 'index.html', class: 'btn btn-primary btn-sm' %>
  </div>
  <!-- // end action -->
</div>
<!-- // end container-fluid -->
