---
title: Reports - Muzit
bodyClass: reports
---

<div class="container-fluid">

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        Top 10 Countries
      </div>
      <div class="card-body">
      <div clas="row">
        <div class="col">
          Phish
        </div>
        <div class="col">
          <div class="meter">
            <span style="width:80%;">
              <span class="progress"></span>
            </span>
          </div>
        </div>
        <!-- // end column -->
      </div>
      <!-- // end row -->
      </div>
      <!-- // end card-body -->
    </div>
    <!-- // end card -->
</div>
<!-- // end column -->
</div>
<!-- // end row -->

<label for="tags">Search: </label>
<input id="countries" type="text">


</div>
<!-- // end container-fluid -->