---
title: Lists - Muzit
layout: reseller
bodyClass: lists
---
<div class="container-fluid">
  <h1 class="text-center text-sm-left my-4">
    Lists
  </h1>
  <div class="row my-4">
    <div class="col text-center text-md-right">
      <%= link_to "Add List", "../admin/lists-add.html", :class => "btn btn-primary btn-md" %>
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
  <p>
    No lists have been generated. Click the "Add List" button to create a list.
  </p>
</div>
<!-- // end container-fluid -->