---
title: Buy Credits Confirmation - Muzit
layout: reseller
bodyClass: reseller buy-credits
---
<div class="container">
  <h1 class="my-4 text-center">
    Buy Credits
  </h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="form-container">
        <h2>
          Thank You!
        </h2>
        <p>
          You have purchased 100,000 IP address credits. Your credit card ending in 1234 will be charged $12,000.00. An email confirmation will be sent to hello@kula.com.
        </p>
        <div class="action text-center">
          <%= link_to "Continue", "dashboard.html", :class => "btn btn-primary btn-md" %>
        </div>
      </div>
      <!-- // end form-container -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container -->