---
title: Buy Credits - Muzit
layout: reseller
bodyClass: reseller pricing
---
<section class="pricing-plans">
  <h1 class="text-center">
    Buy Credits
  </h1>
  <div class="container">
    <p class="text-center">
      One credit is worth 1 IP Address.
    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="card pricing-box rounded text-center">
          <h4 class="card-title">
            1,000 IP Blocks
          </h4>
          <h6 class="card-text text-nowrap">
            <sup class="currency">
              $
            </sup>
            <span class="amount">
              190.00
            </span>
            <span class="per">
              / 1000
            </span>
          </h6>
          <form action="" method="">
            <div class="form-group">
              <label for="ip-block-1">How many block's would you like?</label>
              <input id="ip-block-1" type="number" name="credits" min="1" max="10" class="form-control" value="1">
            </div>
          </form>
          <div class="card-block action">
            <%= link_to 'Continue', 'buy-credits.html', class: 'btn btn-outline-primary' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card pricing-box rounded text-center">
          <h4 class="card-title">
            10,000 IP Blocks
          </h4>
          <h6 class="card-text text-nowrap">
            <sup class="currency">
              $
            </sup>
            <span class="amount">
              150.00
            </span>
            <span class="per">
              / 1000
            </span>
          </h6>
          <form action="" method="">
            <div class="form-group">
              <label for="ip-block-2">How many block's would you like?</label>
              <input id="ip-block-2" type="number" name="credits" min="1" max="10" class="form-control" value="1">
            </div>
          </form>
          <div class="card-block action">
            <%= link_to 'Continue', 'buy-credits.html', class: 'btn btn-outline-primary' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card pricing-box rounded text-center">
          <h4 class="card-title">
            100,000 IP Blocks
          </h4>
          <h6 class="card-text text-nowrap">
            <sup class="currency">
              $
            </sup>
            <span class="amount">
              120.00
            </span>
            <span class="per">
              / 1000
            </span>
          </h6>
          <form action="" method="">
            <div class="form-group">
              <label for="ip-block-3">How many block's would you like?</label>
              <input id="ip-block-3" type="number" name="credits" min="1" max="10" class="form-control" value="1">
            </div>
          </form>
          <div class="card-block action">
            <%= link_to 'Continue', 'buy-credits.html', class: 'btn btn-outline-primary' %>
          </div>
        </div>
      </div>
    </div>
    <!-- // end row -->
  </div>
  <!-- // end container -->
</section>