---
title: Pricing - Muzit
bodyClass: pricing
---

<section class="pricing-plans">
  <div class="container">
    <h1 class="section-title my-4 text-center text-md-left">
      Pricing Plans
    </h1>
    <p class="lead my-4 text-center text-md-left">
      Muzit plans are designed for artists, bands and labels of all sizes.
    </p>
    <div class="row">
      <div class="col-sm-12 text-center">
      <div class="form-group mb-4">
        <div class="btn-group" role="group" aria-label="Pricing plans">
          <button type="button" class="btn btn-outline-primary active" id="artist-pricing">Artist</button>
          <button type="button" class="btn btn-outline-primary" id="corporate-pricing">Corporate</button>
        </div>
        <!-- // end btn-group -->
      </div>
      <!-- // end form-group -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->


  <div id="artist-plans">
    <div class="row">
      <div class="col-md-3">
        <div class="card pricing-box rounded text-center">
          <div class="card-block">
            <h4 class="card-title">
              Solo
            </h4>
            <h6 class="card-text">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                1,995
              </span>
              <span class="month">
                / mo
              </span>
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center d-inline-block">
              1 Artist
            </li>
            <li class="list-group-item text-center d-inline-block">
              All Infringements
            </li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-outline-primary" title="Get Started">
              Get Started
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card pricing-box rounded text-center">
          <div class="card-block">
            <h4 class="card-title">
              Small
            </h4>
            <h6 class="card-text">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                2,995
              </span>
              <span class="month">
                / mo
              </span>
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center d-inline-block">
              3 Artists
            </li>
            <li class="list-group-item text-center d-inline-block">
              All Infringements
            </li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-outline-primary" title="Get Started">
              Get Started
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card pricing-box rounded text-center pricing-premium">
          <div class="card-block">
            <div class="ribbon">Most Popular</div>
            <h4 class="card-title">
              Medium
            </h4>
            <h6 class="card-text">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                4,995
              </span>
              <span class="month">
                / mo
              </span>
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center d-inline-block">
              7 Artists
            </li>
            <li class="list-group-item text-center d-inline-block">
              All Infringements
            </li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-primary" title="Get Started">
              Get Started
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card pricing-box rounded text-center">
          <div class="card-block">
            <h4 class="card-title">
              Large
            </h4>
            <h6 class="card-text">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                9,995
              </span>
              <span class="month">
                / mo
              </span>
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center d-inline-block">
              15 Artists
            </li>
            <li class="list-group-item text-center d-inline-block">
              All Infringements
            </li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-outline-primary" title="Get Started">
              Get Started
            </a>
          </div>
        </div>
      </div>
      <!-- // end column -->
</div>
<!-- // end row -->
  </div>
  <!-- // end artists-plans -->

  <div id="corporate-plans" style="display: none">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card pricing-box rounded text-center">
          <div class="card-block">
            <h4 class="card-title">
              Enterprise
            </h4>
            <h6 class="card-text">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                14,995
              </span>
              <span class="month">
                / mo
              </span>
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center d-inline-block">
              25 Artists
            </li>
            <li class="list-group-item text-center d-inline-block">
              All Infringements
            </li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-outline-primary" title="Get Started">
              Get Started
            </a>
          </div>
        </div>
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->


    </div>
    <!-- // end corporate-plans -->



    <h2>
      Add Ons
    </h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card pricing-box rounded text-center">
          <div class="card-block">
            <h4 class="card-title">
              Concierge Services
            </h4>
            <h6 class="card-text">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                3,000
              </span>
              <span class="month">
                / 10 hour block
              </span>
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center d-inline-block">
              Custom reporting/analysis plus access
            </li>
            <li class="list-group-item text-center d-inline-block">
              Access to a Muzit data scientist
            </li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-outline-primary" title="Get Started">
              Get Started
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card pricing-box rounded text-center">
          <div class="card-block">
            <h4 class="card-title">
              Campaigns
            </h4>
            <h6 class="card-text">
              <sup class="currency">
                <!-- $ -->
              </sup>
              <span class="amount">
                Priced / campaign
              </span>
              <span class="month">

              </span>
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center d-inline-block">
              Email campaigns
            </li>
            <li class="list-group-item text-center d-inline-block">
              A whole lot more
            </li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-outline-primary" title="Get Started">
              Get Started
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- // end row -->
  </div>
  <!-- // end container-fluid -->


</section>