---
title: Browse Artists - Muzit
---
<h1 class="my-4 text-center text-lg-left">
  Browse Artists
</h1>
<div class="row">
  <div class="col-lg-3 col-md-4 col-xs-6">
    <div class="img-thumbnail mb-4">
      <% link_to "#", title: "Phish" do %>
        <%= image_tag("phish.jpg", class: "img-fluid", alt: "Phish Image") %>
      <% end %>
      <div class="overlay"></div>
      <div class="image-footer"></div>
      <span class="author-title">Phish</span>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
</div>