---
title: Copyright Policy - Muzit
bodyClass:
---

<div class="container">
  <h1 class="my-4 text-center text-md-left">
    Copyright Infringement Policy
  </h1>
  <p class="my-4 text-center text-md-left">
    Effective Date: December 24th 2015
  </p>
  <p>
    Unauthorized copying or distribution of copyrighted material violates the U.S. Copyright Act as well as Muzit’s Use Policies. These policies, among other things, prohibit illegal downloading and sharing of copyrighted material, including through the use of e-mail, web pages, and peer-to-peer file sharing software. This prohibition applies to all computers and mobile devices.  Muzit does not participate in or support any form of illegal downloading through any of its service offerings.  Rather, Muzit actively engages fans on behalf of artists in an effort to discourage illegal downloading.  Muzit respects the intellectual property of others and we ask our Muzit fans to do the same.
  </p>
  <p>
    <strong>Summary of Civil and Criminal Penalties for Violation of Federal Copyright Laws</strong>
  </p>
  <p>
    Copyright infringement is the act of exercising, without permission or legal authority, one or more of the exclusive rights granted to the copyright owner under section 106 of the Copyright Act (Title 17 of the United States Code). These rights include the right to reproduce or distribute a copyrighted work. In the file-sharing context, downloading or uploading substantial parts of a copyrighted work without authority constitutes an infringement.
  </p>
  <p>
    Penalties for copyright infringement include civil and criminal penalties. In general, anyone found liable for civil copyright infringement may be ordered to pay either actual damages or "statutory" damages affixed at not less than $750 and not more than $30,000 per work infringed. For "willful" infringement, a court may award up to $150,000 per work infringed. A court can, in its discretion, also assess costs and attorneys' fees. For details, see Title 17, United States Code, Sections 504, 505.
  </p>
  <p>
    Willful copyright infringement can also result in criminal penalties, including imprisonment of up to five years and fines of up to $250,000 per offense.
  </p>
  <p>
    For more information, please see the Web site of the U.S. Copyright Office at <a href="http://www.copyright.gov" target="_blank">www.copyright.gov</a>, especially their FAQ's at <a href="http://www.copyright.gov/help/faq" target="_blank">www.copyright.gov/help/faq</a>.
  </p>
</div>