---
title: Privacy Policy - Muzit
bodyClass:
---

<div class="container">
  <h1 class="my-4 text-center text-md-left">
    Muzit Privacy Policy
  </h1>
  <p class="my-4 text-center text-md-left">
    Effective Date: December 24th 2017
  </p>
  <p>
    <strong>OUR APPROACH TO PRIVACY</strong>
  </p>
  <p>
    Muzit, Inc., together with all successors and assigns (hereinafter “Muzit,” the “Company,” “we,” “us” or “our”), take your privacy seriously.  Muzit understands transparency and respect are foundational aspects of long-standing relationships and, therefore, takes every reasonable effort to protect the information you provide to us.
  </p>
  <p>
    Our Online Privacy Policy (the “Privacy Policy”) outlines:
  </p>
  <ul>
    <li>What personally identifiable information we collect</li>
    <li>How we use that personally identifiable information</li>
    <li>How we may share that personally identifiable information</li>
    <li>How we protect your information</li>
    <li>Your choices regarding your personally identifiable information</li>
  </ul>
  <p>
    Muzit has developed this Privacy Policy to advise you of the ways in which Muzit collects, uses, shares and protects your personally identifiable information from those portions of the Muzit.com website that are available to the public without a login ID or password (the “Public Site”), and those portions of either the Muzit.com and/or trace.muzit.com website that we may restrict to users who have created a Muzit account (the “Restricted Site”).  The Public Site and the Restricted Site are, collectively, called the “Website.”  Except where specified otherwise, the provisions in this Privacy Policy apply to the Website as a whole.
  </p>
  <p>
    This Privacy Policy also covers Muzit’s treatment of certain information that Muzit’s business partners share with Muzit. While this Privacy Policy does not apply to the practices of those third parties that Muzit does not own or control, or to individuals that Muzit does not employ or manage, we will identify those third parties and how you may contact them to inquire about their own privacy policies.
  </p>
  <p>
    Please read this Privacy Policy and the Website’s Terms of Use carefully to understand our policies and practices regarding your personally identifiable information. By accessing, using and/or submitting your personally identifiable information to our Website, you agree to this Privacy Policy and our Terms of Use.
  </p>
  <p>
    As discussed more fully below, Muzit will not knowingly accept any information from an individual under the age of thirteen (13) years.  In compliance with the Children’s Online Privacy Protection Act (“COPPA”), any information that Muzit may receive from any individual who is reasonably believed to be under the age of thirteen (13) years will be deleted.
  </p>
  <p>
    If you have questions or concerns regarding this Privacy Policy, please contact Muzit at <a href="mailto:privacy@muzit.com?subject=Privacy Policy Question">privacy@muzit.com</a>
  </p>
  <p>
    <strong>WHAT PERSONALLY IDENTIFIABLE INFORMATION DOES MUZIT COLLECT?</strong>
  </p>
  <p>
    We take great care to only collect from you the minimum necessary personally identifiable information that is required to operate our Website and provide you with our services.  By limiting what we collect, we help protect the privacy and security of your personally identifiable information.  We collect the following types of information through our Website:
  </p>
  <p>
    <u>Anonymous Information.</u>  We collect certain types of information whenever you interact with our Website or services.  Muzit automatically receives and records information from your browser activity including your IP address, cookie information, the page you requested and the media you have consumed (e.g., viewed, played, downloaded, uploaded and shared).
  </p>
  <p>
    Additionally, we gather general information about the number and frequency of visitors to our Website, including the number of users browsing the Website, the number of users who view certain pages on the Website and how users navigate through our Website.  This information is collected anonymously and only in the aggregate.  We use this information to provide aggregated statistical feedback to, among other things, publicize and further develop our Website to maximize the benefits to our customers.
  </p>
  <p>
    These types of data enable us to figure out how often customers use parts of the Website or services so that we can make the Website appealing to as many customers as possible and improve those services. As part of this use of information, (i) we may provide information to the artists that relates to their fans (e.g., regarding which fans are consuming and sharing what pieces of media at what levels) and (ii) we may provide aggregate information to our partners about how our customers, collectively, use our Website (e.g., we share this type of statistical data so that our partners also understand how often people use their services and our Website, so that they, too, may provide you with an optimal online experience).
  </p>

  <p>
    <u>Personally Identifiable Information You Provide to Us.</u>
    We may collect your personally identifiable information when you voluntarily submit the information to us through the Website, such as when you create a Muzit account or upgrade your existing account.  The types of personally identifiable information that may be collected through the Website include, without limitation, your:
  </p>
  <ul>
    <li>first and last name</li>
    <li>home or other physical address, including street name and name of city or town</li>
    <li>e-mail address</li>
    <li>gender; and</li>
    <li>birth year.</li>
  </ul>
  <p>
    The personally identifiable information you provide through the Website is used for such purposes as responding to your requests for certain products and services; allowing you to interact with artists, artists’ fan clubs and other users; customizing the advertising and content you see; and communicating with you about specials, sales offers and new features.
  </p>
  <p>
    We also may collect your credit card information you when upgrade your Muzit account and/or in connection with your purchase of other services offered by Muzit.
  </p>

  <p>
    <u>Personally Identifiable Information Collected by Third Parties.</u>
  </p>
  <p>
    Muzit may contract with various third-party service providers (collectively, “Muzit’s Agents”) to provide certain services to us, including monitoring certain pages of our Website for the purpose of reporting website traffic, statistics, advertisement “click-thrus” and/or other activities on our Website.
  </p>
  <p>
    Where authorized by us, these service providers may use cookies, web beacons and/or other monitoring technologies to compile data about visitors to our Website, and they may conduct online tracking of visitors while they are on our Website and may collect personally identifiable information from visitors to our Website.  For more information, please see the “How Does Muzit Use Cookies?” and “What Information Does Muzit Collect Using Clear GIFS (Web Beacons/Web Bugs)?” sections of this Privacy Policy. If you have any questions about how information is collected and used by our service providers, please contact us.
  </p>
  <p>
    We will retain your personally identifiable information collected through the Website for as long as necessary to provide our services to you.
  </p>
  <p>
    <strong>CHILDREN’S PRIVACY</strong>
  </p>
  <p>
    Although some of our artists’ sites may be reasonably attractive to children, Muzit does not knowingly collect personally identifiable information from or market to any individual under the age of thirteen (13) years.  If a child under the age of thirteen (13) years has provided personally identifiable information to Muzit through our Website, a parent or guardian may contact <a href="mailto:privacy@muzit.com?subject=Privacy Policy Question">privacy@muzit.com</a> to request that such information be deleted from our records. Following receipt of such a request, we will make reasonable efforts to delete the child’s personally identifiable information from our records.
  </p>
  <p>
    <strong>HOW DO MUZIT’S WIDGETS WORK?</strong>
  </p>
  <p>
    Our Website and data collection devices include “widgets” that are interactive mini-programs that run on our artists’ sites to provide specific services from the artist (e.g., trading an e-mail for a free song, purchasing an album or playing music).  Personally identifiable information, such as your e-mail address, may be collected through the widget, and may allow you to enroll in an artist’s fan club and/or purchase songs or other products from an artist.  Cookies may also be set by the widget to enable it to function properly.
  </p>
  <p>
    Our widgets may also have a “share” feature.  If you choose to use our share service to repost a widget on another website (such as on Twitter or Facebook), the third-party website will request your login credentials.  The widget will then automatically post the widget on that website, which is governed by that third-party website’s privacy policy.
  </p>
  <p>
    <strong>HOW DOES MUZIT USE COOKIES?</strong>
  </p>
  <p>
    Like other websites and web-based technologies, we use cookies to collect information about how people use our Website.  Muzit uses this information to improve our Website.  Cookies are alphanumeric identifiers that enable our systems to recognize your browser and tell us how and when pages in our Website are visited and by how many people.  Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on your browser) allowing you to decide whether or not to accept each new cookie. We recommend that you leave the cookies feature activated, however, because cookies enable you to take advantage of some of our Website’s most attractive features.
  </p>
  <p>
    Additionally third-party advertisers on Muzit’s Website may place or recognize a unique cookie on your browser.  These cookies enable more customized ads, content or services to be provided to you.  To trigger these cookies, we may pass on your personally identifiable information and other information, including encrypted or hashed (non-human readable) identifiers corresponding to your e-mail address, to a Web advertising partner, who may place a cookie on your computer.
  </p>
  <p>
    <strong>WHAT INFORMATION DOES MUZIT COLLECT USING CLEAR GIFS (WEB BEACONS/WEB BUGS)?</strong>
  </p>
  <p>
    Muzit and companies providing services to or on behalf of Muzit (such as Muzit’s Agents, service providers and advertising partners) may use web beacons/page tags (1x1 pixels) to automatically collect non-personally identifiable information about your activities when you visit the Website.  The data collected and tracked by the service is anonymous.
  </p>
  <p>
    Behavioral tracking information through web beacons does not collect, track or require access to any personally identifiable information about any such visitors.  Web beacons are used to inform, optimize and serve ads based on someone’s past visits to the Website, or the Website of our advertising partners, affiliates and/or exchanges.  The data may include information related to your geographic location when you access our Website though a mobile device or geographic location information associated with your IP address, as well as pages from our Website viewed, date, time, domain and responses to advertisements.
  </p>
  <p>
    Muzit and/or its Agents, service providers and advertising partners may use this non-personally identifiable information to advertise to you.  Muzit and companies providing services to or on behalf of Muzit may collect information about what ads you clicked on. Muzit and those companies providing services to or on behalf of Muzit may also use and disclose non-personally identifiable information obtained from our advertising campaigns for reporting purposes and for scheduling and optimization of content delivery.
  </p>
  <p>
    <strong>HOW WE RESPOND TO “DO NOT TRACK” SIGNALS</strong>
  </p>
  <p>
    Muzit does not collect personally identifiable information about an individual user’s online activities over time and across third-party websites to provide targeted advertising when a consumer uses our Website or our services and, therefore, our Website does not respond to your web browser’s “Do Not Track” (“DNT”) signals.  However, some third-party sites may track your browsing activities when they provide you with services or content that enables them to tailor what services or content they provide to you.  If you are visiting such sites, Safari allows you to set the DNT signal on your browser so that third parties (particularly advertisers) know you do not want to be tracked.
  </p>
  <p>
    <strong>HOW WE SHARE YOUR PERSONALLY IDENTIFIABLE INFORMATION</strong>
  </p>
  <p>
    Personally identifiable information about our customers is an integral part of our business. We may share your personally identifiable information when we have your permission and we may share your personally identifiable information under the following circumstances:
  </p>
  <p>
    Muzit’s Agents:  We may provide your personally identifiable information and other information that you have provided to us through the Website to our Agents that provide services:  to help us with our business activities such as to host or maintain our Website; for processing services; to provide website or data security; to provide operational, analytical or reporting services; to provide technical support; to process credit card information; and to provide customer service.  In connection with providing those services to Muzit, an Agent may have access to your personally identifiable information.  By using our Website and/or services, you consent to our sharing of your personally identifiable information to Muzit’s Agents, and use of your personally identifiable information by such Agents is governed by their respective privacy policies.
  </p>
  <p>
    User Profiles and Account Information: Your personally identifiable information, including your user profile or account information (name, e-mail address, contact information, gender, birth year and other information), may be provided to artists and/or their respective fan clubs to facilitate direct communication with you.  By using our Website and/or services, you consent to our sharing of your personally identifiable information to such artists and/or their respective fan clubs, and use of your personally identifiable information by such artists and/or their respective fan clubs is governed by their respective privacy policies.
  </p>
  <p>
    Third-Party Advertisers:  Muzit may permit third-party advertisement on or through our Website.  We may share your personally identifiable information with such advertisers and/or with advertising networks so that advertisers can present you with offers that are relevant to you.
  </p>
  <p>
    Aggregated Information:  Muzit reserves the full and unrestricted right to use and disclose anonymized personally identifiable information and other information, aggregated information or publicly available information that has not been combined with nonpublic personally identifiable information for any purpose including, but not limited to, Muzit’s internal use and research.  We also may share aggregated information that includes your personally identifiable information, non-personally identifying information and log data with third parties for industry analysis, demographic profiling and to deliver targeted advertising about other products and services.
  </p>
  <p>
    Business Transfers:  Muzit may also disclose personally identifiable information and other information to a third party in connection with the sale, assignment or transfer of some or all of the assets of Muzit or its subsidiaries or affiliates or as the result of a change in control of Muzit, in which case we will undertake commercially reasonable efforts to require any such third party to treat any such personally identifiable information in accordance with this Privacy Policy.  Any such third party to whom Muzit sells, assigns or transfers the Company’s assets will have the right to use the personally identifiable information and other information that you have provided to Muzit.  You acknowledge that such transfers may occur in any of these circumstances and that any acquirer or successor of Muzit may continue to use your personally identifiable information as set forth in this Privacy Policy.
  </p>
  <p>
    Protection of Muzit and Others:  Muzit may disclose personally identifiable information when required by subpoena, court order or other legal process, or if Muzit has a good faith belief that disclosure is necessary to (a) comply with any applicable federal, state or local law or regulation, (b) assist government enforcement agencies, (c) investigate, prevent or take action in connection with suspected or actual illegal activities, (d) investigate suspected or actual violations of Muzit’s rights, (e) protect the rights, property or safety of Muzit and its customers or employees or others, (f) investigate and defend the Company against any third-party claims or (g) protect the security and integrity of our Website.
  </p>
  <p>
    With Your Consent:  Except as set forth herein, you will be notified when your personally identifiable information may be shared with third parties and will be able to prevent the sharing of this information.
  </p>
  <p>
    <strong>REQUESTS TO REVIEW AND REQUEST CHANGES TO YOUR PERSONALLY IDENTIFIABLE INFORMATION</strong>
  </p>
  <p>
    Please contact us at <a href="mailto:privacy@muzit.com?subject=Privacy Policy Question">privacy@muzit.com</a> when you want to request, correct or update your personally identifiable information that we have collected through the Website and that we possess.  To protect your privacy, you will be required to provide authenticating information prior to making changes or gaining access to your information.  We will respond to all inquiries and requests to review and request changes to personally identifiable information within a commerically reasonable time.
  </p>
  <p>
    <strong>SECURITY OF YOUR INFORMATION</strong>
  </p>
  <p>
    Muzit maintains commercially reasonable administrative, physical and technical safeguards intended to protect the confidentiality, integrity and availability of the information you provide to us.  We periodically assess risks to your information and update our policies, procedures and technology accordingly.  However, no data transmission over the Internet can be guaranteed to be 100 percent secure.  Accordingly, despite our efforts to protect your information, Muzit cannot ensure or warrant the security of any information you transmit to us.   Accordingly, by using our Website and/or services, you expressly acknowledge and agree that you transmit any and all such information, including your personally identifiable information, at your own risk.
  </p>
  <p>
    <strong>LINKS TO OTHER SITES</strong>
  </p>
  <p>
    The Website may contain links to other websites, including the websites of the bands, musicians, other artists and/or artists’ fan clubs, from which you may purchase or use products or services.  Muzit is not responsible for the privacy policies and/or practices on other sites, including bands, musicians, other artists and/or artists’ fan clubs from which you may purchase or use products or services through their respective websites.  When linking to another such website, we recommend that you read the privacy policy stated on that site. This Privacy Policy only governs information collected on Muzit’s Website.
  </p>
  <p>
    <strong>WHAT CHOICES DO I HAVE REGARDING MY PERSONALLY IDENTIFIABLE INFORMATION?</strong>
  </p>
  <p>
    As stated previously, you can always opt not to disclose your personally identifiable information, even though it may be needed to take advantage of certain of the Website’s features and/or Muzit’s services.
  </p>
  <p>
    If you do not want to continue to receive communications and/or advertisements from Muzit, you must cancel your Muzit account.  Please note that if you do not want to receive legal notices from us, those legal notices will still govern your use of the Website and you are responsible for reviewing such legal notices for changes.  Additionally, so long as you maintain your Muzit account, you cannot opt out of some administrative e-mails that will be sent by Muzit regarding your account.
  </p>
  <p>
    <strong>CHANGES TO THIS PRIVACY POLICY</strong>
  </p>
  <p>
    As we continue to improve the products, services and offerings to consumers, we occasionally will update this Privacy Policy.  Muzit reserves the right, at its sole discretion, to change, modify, add or remove any portion of this Privacy Policy in whole or in part, at any time and without giving prior notice.  Accordingly, we recommend referring back to this page periodically to stay abreast of any new privacy practices or changes to this Privacy Policy.  Users are bound by any changes to the Privacy Policy when they use the Website after such changes have been first posted.
  </p>
  <p>
    <strong>CONTACT US</strong>
  </p>
  <p>
    If you have any questions regarding this Privacy Policy or Muzit’s privacy practices, please contact us at: <a href="mailto:privacy@muzit.com?subject=Privacy Policy Question">privacy@muzit.com</a>.
  </p>
  <p>
    <strong>OTHER IMPORTANT INFORMATION</strong>
  </p>
  <p>
    California Residents Only:
  </p>
  <p>
    The California “Shine the Light Law,” California Civil Code Section 1798.83, permits California residents to request and obtain once a year, free of charge, information about personally identifiable information (as defined by California law), if any, that we disclose to certain third parties for direct marketing purposes in the preceding calendar year.  California residents may make such a request in writing by e-mailing us at <a href="mailto:privacy@muzit.com?subject=Privacy Policy Question">privacy@muzit.com</a> and including your name and address and noting “California Shine the Light Request” in the subject line of the e-mail.  Within thirty (30) days of receiving your request and where required by law, Muzit will send you a list of the categories of personally identifiable information disclosed for third-party direct marketing purposes during the immediately preceding calendar year, along with the names and addresses of these third parties.  If the nature of a third party’s business cannot be reasonably determined from the third party’s name, Muzit will provide examples of the products or services marketed.  You are entitled to receive a copy of this information in a standardized format and the information will not be specific to you individually.
  </p>
</div>