---
title: Sign In - Muzit
layout: signin
bodyClass: sign-in
---

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <%=image_tag( "logo-muzit2.png", class: "img-fluid logo", alt: "Muzit Logo") %>
      <form id="login-form" action="" method="" class="form needs-validation" novalidate>
        <h3 class="text-center">Sign In</h3>
        <div class="form-group">
          <label class="floating" for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="name@domain" required>
          <div class="invalid-feedback">
            Please provide a vaild email address.
          </div>
        </div>
        <!-- // end form-group -->
        <div class="form-group">
          <label class="floating" for="password">Password</label>
          <input type="password" class="form-control" id="password"
          value="" placeholder="Password" required>
          <div class="invalid-feedback">
            Password is required.
          </div>
        </div>
        <!-- // end form-group -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="" id="rememberSignin">
                <label class="custom-control-label" for="rememberSignin">
                  Remember me
                </label>
              </div>
              <!-- // end custom-control -->
            </div>
            <!-- // end form-group -->
          </div>
          <!-- // end column -->
          <div class="col text-right">
            <a href="#" class="">Forgot password?</a>
          </div>
          <!-- // end column -->
        </div>
        <!-- // end row -->
        <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
      <div id="register-link" class="text-center my-3">
        <a href="#" class="">Register to create an account</a>
      </div>
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container -->

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>