---
title: Artist Details - Muzit
bodyClass: artist-details
---

<div class="hero d-flex">
  <div class="container-fluid mt-auto">
    <div class="col-xs-12">
      <h1 class="text-white mb-4">Phish</h1>
    </div>
    <div class="row py-1">
      <div class="col-lg-12">
        <div class="container-fluid d-none d-md-block">
          <div class="row ">
            <div class="col-md-4 col-lg-4">
              <div class="row">
                <div class="col-md-1 p-0">
                  <span class="oi oi-data-transfer-download text-white"></span>
                </div>
                <!-- end column -->
                <div class="col-md-6 p-0">
                  <span class="data text-white">
                    18,250,300
                  </span>
                  <span class="label text-white">
                    Downloaded Songs <i class="fas fa-question-circle"></i>
                  </span>
                </div>
                <!-- // end column -->
              </div>
              <!-- // end row -->
            </div>
            <!-- // end column -->
            <div class="col-md-4 col-lg-4">
              <div class="row">
                <div class="col-md-1 p-0">
                  <span class="oi oi-target text-white"></span>
                </div>
                <!-- // end column -->
                <div class="col-md-6 p-0">
                  <span class="data text-white">
                    1,495,573
                  </span>
                  <span class="label text-white">
                    Potential Reach
                  </span>
                </div>
                <!-- // end column -->
              </div>
              <!-- // end row -->
            </div>
            <!-- // end column -->
            <div class="col-md-4 col-lg-4">
              <div class="row">
                <div class="col-md-1 p-0">
                  <span class="oi oi-link-intact text-white"></span>
                </div>
                <!-- // end column -->
                <div class="col-md-6 p-0">
                  <span class="data text-white">
                    439
                  </span>
                  <span class="label d-block text-white">
                    Torrent Files
                  </span>
                </div>
                <!-- // end column -->
              </div>
              <!-- // end row -->
            </div>
            <!-- // end column -->
          </div>
          <!-- // end row -->
        </div>
        <!-- // end container-fluid -->
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->
  </div>
  <!-- // end container -->
</div>
<!-- // end hero -->



<div class="container-fluid bg-light border-bottom p-3 d-block d-md-none ">
  <div class="row">
     <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-muted h6">Downloaded Songs</h5>
            <span class="mr-2 h5 font-weight-bold mb-0 text-nowrap"> 18,250,300</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-muted h6">Potential Reach</h5>
            <span class="mr-2 h5 font-weight-bold mb-0 text-nowrap"> 1,495,573</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-muted h6">Torrent Files</h5>
            <span class="mr-2 h6 font-weight-bold mb-0"> 439</span>
          </div>
        </div>
      </div>
      <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container-fluid -->

<div class="container-fluid bg-light border-bottom p-3">
  <div class="row mb-3">
    <div class="col">
      <h4 class="text-truncate pt-1">
         Phish Worldwide
      </h4>
    </div>
    <!-- // end column -->
    <div class="col text-sm-right">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Week
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Week</a>
          <a class="dropdown-item" href="#">Past Two Weeks</a>
          <a class="dropdown-item" href="#">Past Month</a>
        </div>
      </div>
      <!-- // end dropdown -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
  <div class="row">
    <div class="col-12">
      <div class="card-stats card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="text-center mb-4">
                <span class="text-danger mr-2 h4 font-weight-bold text-nowrap">
                  <h5 class="text-muted h6 font-weight-light">Potential Reach</h5>
                  <span class="oi oi-arrow-thick-bottom"></span> 25.33%</span>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="text-center mb-4">
                  <span class="text-danger mr-2 h4 font-weight-bold text-nowrap">
                    <h5 class="card-title text-muted h6 font-weight-light">Traffic</h5>
                    <span class="oi oi-arrow-thick-bottom"></span> 29.2%</span>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="text-center mb-4">
                  <h5 class="card-title text-muted h6 font-weight-light">Most Engaged</h5>
                  <span class="mr-2 h6 mb-0">Taiwan, Province of China</span>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="text-center mb-4">
                  <h5 class="card-title text-muted h6 font-weight-light">Fastest Growing</h5>
                  <h5 class="h6">Slovenia</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
</div>
<!-- // end container-fluid -->
<div class="container-fluid">
  <div class="card bg-light mb-3" style="width: 100%">
    <div class="card-header">Traffic Origins</div>
    <div class="card-body bg-white">
      <div Class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <%=image_tag( "map.png", class: "img-fluid", alt: "Map Image") %>
          </div>
          <!-- // end column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h4> Top Countries</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Country</th>
                  <th>Traffic</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>United States</td>
                  <td>1340</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- // end column -->
        </div>
        <!-- // end row -->
      </div>
      <!-- // end container -->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
</div>
<!-- // end container-fluid -->


<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top </button>

