---
title: Artist Details - Muzit
bodyClass: artist-details
---
<section class="hero d-flex">
  <div class="container-fluid mt-auto">
    <h1 class="text-white mb-4">Phish</h1>
    <div class="row pb-3">
      <div class="col-lg-12">
        <div class="container-fluid d-none d-md-block">
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="row">
                <div class="col-md-1 p-0">
                  <span class="oi oi-data-transfer-download text-white"></span>
                </div>
                <!-- end column -->
                <div class="col-md-6 p-0">
                  <span class="data text-white">
                    18,250,300
                  </span>
                  <span class="label text-white text-nowrap">
                    Downloaded Songs
                    <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique songs downloaded for this artist."></i>
                  </span>
                </div>
                <!-- // end column -->
              </div>
              <!-- // end row -->
            </div>
            <!-- // end column -->
            <div class="col-md-4 col-lg-4">
              <div class="row">
                <div class="col-md-1 p-0">
                  <span class="oi oi-target text-white"></span>
                </div>
                <!-- // end column -->
                <div class="col-md-6 p-0">
                  <span class="data text-white">
                    1,495,573
                  </span>
                  <span class="label text-white text-nowrap">
                    Potential Reach
                    <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique IP addresses that have downloaded at least one file from this artist. These are the fans!"></i>
                  </span>
                </div>
                <!-- // end column -->
              </div>
              <!-- // end row -->
            </div>
            <!-- // end column -->
            <div class="col-md-4 col-lg-4">
              <div class="row">
                <div class="col-md-1 p-0">
                  <span class="oi oi-link-intact text-white"></span>
                </div>
                <!-- // end column -->
                <div class="col-md-6 p-0">
                  <span class="data text-white">
                    439
                  </span>
                  <span class="label d-block text-white text-nowrap">
                    Torrents
                    <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="The amount of Torrent Files we are currently tracking for this artist"></i>
                  </span>
                </div>
                <!-- // end column -->
              </div>
              <!-- // end row -->
            </div>
            <!-- // end column -->
          </div>
          <!-- // end row -->
        </div>
        <!-- // end container-fluid -->
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->
  </div>
  <!-- // end container-fluid -->
</section>
<!-- // end hero -->
<section class="container-fluid">
  <div class="mobile-stats d-md-none bg-dark">
    <div class="row">
      <div class="col-md-4 p-0">
        <div class="mobile-stats pt-2 bg-dark">
          <div class="card-body text-white">
            <div class="row m-0">
              <div class="col-sm text-sm-left pl-0 mb-4 mb-sm-0">
                <h6 class="card-title text-nowrap">
                  <span class="oi oi-data-transfer-download mr-1"></span> Downloaded Songs
                  <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique songs downloaded for this artist."></i>
                </h6>
                <span class="h5 ml-4 font-weight-bold mb-0 text-nowrap"> 18,250,300</span>
              </div>
              <div class="col-sm mb-4 text-sm-left pl-0 mb-4 mb-sm-0">
                <h6 class="card-title text-nowrap">
                  <span class="oi oi-target mr-1"></span>
                  Potential Reach
                  <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique IP addresses that have downloaded at least one file from this artist. These are the fans!"></i>
                </h6>
                <span class="h5 ml-4 font-weight-bold mb-0 text-nowrap"> 1,495,573</span>
              </div>
              <!-- // end column -->
              <div class="col-sm text-sm-left pl-0 mb-sm-0">
                <h6 class="card-title text-nowrap">
                  <span class="oi oi-link-intact mr-1"></span>
                    Torrent Files
                    <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="The amount of Torrent Files we are currently tracking for this artist"></i>
                </h6>
                <span class="h5 ml-4 font-weight-bold mb-0"> 439</span>
              </div>
              <!-- // end column -->
            </div>
            <!-- // end row -->
          </div>
          <!-- // end card-body -->
        </div>
        <!-- // end mobile-stats -->
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->
  </div>
  <!-- // end mobile-stats -->
  <header class="header-dropdown">
    <div class="row">
      <div class="col text-truncate my-auto">
        <h2>
           Worldwide Stats
        </h2>
      </div>
      <!-- // end column -->
      <div class="col text-right">
        <div class="dropdown">
          <button class="btn btn-outline-primary btn-md dropdown-toggle" id="artist-stats-filter"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">Week</button>
          <div class="dropdown-menu" aria-labelledby="artist-stats-filter">
            <a class="dropdown-item" href="#">Week</a>
            <a class="dropdown-item" href="#">Past Two Weeks</a>
            <a class="dropdown-item" href="#">Past Month</a>
          </div>
        </div>
        <!-- // end dropdown -->
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->
  </header>
  <!-- // end header -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Downloads <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique songs downloaded for this artist."></i>
          </h5>
        </div>
        <!-- // end card-header -->
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1">
              <span class="h3 text-nowrap">
                50,300
              </span>
            </div>
            <!-- // end mb-1 -->
            <div class="row">
              <div class="col text-truncate">
                <span class="h6 text-muted align-middle">
                  <small>Change from previous period </small>
                </span>
              </div>
              <div class="col text-right">
                <span class="h6">
                  <small class="text-success mr-1">+ 2.3%</small>
                  <span class="oi oi-arrow-circle-top font-weight-bold text-success align-middle"></span>
                </span>
              </div>
            </div>
            <!-- // end row -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Potential Reach <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique IP addresses that have downloaded at least one file from this artist. These are the fans!"></i>
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1">
              <span class="h3 text-nowrap">
                115,798
              </span>
            </div>
            <!-- // end mb-1 -->
            <div class="row">
              <div class="col text-truncate">
                <span class="h6 text-muted align-middle">
                  <small>Change from previous period</small>
                </span>
              </div>
              <div class="col text-right">
                <span class="h6">
                  <small class="text-danger mr-1">-25.33%</small>
                  <span class="oi oi-arrow-circle-bottom font-weight-bold text-danger align-middle"></span>
                </span>
              </div>
            </div>
            <!-- // end row -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Fastest Growing <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="The country with highest increase in traffic."></i>
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1 text-truncate">
              <span class="h4">
                Slovenia
              </span>
            </div>
            <!-- // end mb-1 -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Most Engaged <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="Avg. daily potential reach divided by the country population."></i>
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1 text-truncate">
              <span class="h4">
                Taiwan, Province of China
              </span>
            </div>
            <!-- // end mb-1 -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
  <div class="card">
    <div class="card-header">
      <h5>
        Download Origins
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 mb-4 d-none d-md-block">
          <%=image_tag( "map.png", class: "img-fluid", alt: "Map Image") %>
        </div>
        <!-- // end column -->
        <div class="col-md-4">
          <h6 class="d-none d-md-block"> Top Countries</h6>
          <table class="table download-origins">
            <thead>
              <tr>
                <th>Country</th>
                <th>Traffic</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>United States</td>
                <td>1340</td>
              </tr>
              <tr>
                <td>China</td>
                <td>445</td>
              </tr>
              <tr>
                <td>Russian Federation</td>
                <td>367</td>
              </tr>
              <tr>
                <td>Korea</td>
                <td>228</td>
              </tr>
              <tr>
                <td>Italy</td>
                <td>165</td>
              </tr>
              <tr>
                <td>Brazil</td>
                <td>157</td>
              </tr>
              <tr>
                <td>Japan</td>
                <td>141</td>
              </tr>
              <tr>
                <td>Canada</td>
                <td>110</td>
              </tr>
              <tr>
                <td>Germany</td>
                <td>104</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- // end column -->
      </div>
      <!-- // end row -->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->

  <div class="card">
    <div class="card-header">
      <h5>
        Torrents
      </h5>
    </div>
    <div class="card-body">
      <table class="table torrents">
        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="size">Size</th>
            <th class="percent">% Changed</th>
            <th class="downloads">Downloads</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to 'United States', '#' %></td>
            <td>25 MB</td>
            <td>+10%</td>
            <td>120K</td>
          </tr>
          <tr>
            <td><%= link_to 'United States', '#' %></td>
            <td>25 MB</td>
            <td>+10%</td>
            <td>120K</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
  <div class="card">
    <div class="card-header">
      <h5>
        Activity Timeline
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%=image_tag( "activity-timeline.png", class: "img-fluid", alt:
          "Activity Timeline Image") %>
        </div>
        <!-- // end column -->
      </div>
      <!-- // end row -->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
  <h2>
    Active Years: 1983 - 2004
  </h2>
  <dl>
    <dt>Genres</dt>
    <dd>
      <span class="badge badge-dark">jam band</span>
      <span class="badge badge-dark">funk metal</span>
      <span class="badge badge-dark">alternative rock</span>
      <span class="badge badge-dark">rock</span>
    </dd>
  </dl>
  <dl>
    <dt>Keywords</dt>
    <dd>
      <span class="badge">rock</span>
      <span class="badge">jam band</span>
      <span class="badge">classic rock</span>
      <span class="badge">bluegrass</span>
      <span class="badge">progressive rock</span>
      <span class="badge">jazz</span>
      <span class="badge">pop</span>
      <span class="badge">90s</span>
      <span class="badge">folk</span>
      <span class="badge">alternative rock</span>
      <span class="badge">folk rock</span>
      <span class="badge">fusion</span>
      <span class="badge">funk</span>
      <span class="badge">jazz fusion</span>
      <span class="badge">instrumental</span>
      <span class="badge">country</span>
      <span class="badge">blues</span>
      <span class="badge">psychedelic</span>
      <span class="badge">jazz rock</span>
      <span class="badge">hardcore</span>
      <span class="badge">soul</span>
      <span class="badge">reggae</span>
      <span class="badge">alternative</span>
    </dd>
  </dl>
</section>
<!-- // end container-fluid -->