---
title: Torrent Details - Muzit
bodyClass: artists-torrents
---

<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-6">
      <h1 class="text-center text-md-left">
        Torrent Details
      </h1>
    </div>
    <!-- // end column -->
    <div class="col-md-6 text-center text-md-right">
      <button class="btn btn-primary btn-md" type="button" onclick="javascript:window.location.href='../admin/torrent-mapping.html';">Edit</button>
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
<div class="card torrent-meta-data">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <label>Infohash</label>
          <span class="text">
            c5b70bec171280ed8d4633b09e46eb397e87e967
          </span>
        </div>
        <div class="col-md-6">
            <label>Torrent Name</label>
            <span class="text">
              Phish 2010 -10-26 Manchester, NH
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Category</label>
          <span class="text">
            None
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Artists</label>
          <div id="assigned-artists" class="text border artist scroll">
              <span><a href="/artists/596">Phish</a></span>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-sm text-sm-left pl-0 mb-sm-0">
          <dl class="stat">
            <dt>Size</dt>
            <dd>340 MB</dd>
          </dl>
        </div>
        <div class="col-sm pl-0 mb-sm-0">
          <dl class="stat">
            <dt>% Changed</dt>
            <dd class="text-success">
              0.00%
              <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
            </dd>
          </dl>
        </div>
        <div class="col-sm pl-0 mb-sm-0">
          <dl class="stat">
            <dt>Downloads</dt>
            <dd>0</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- // end torrent-meta-data -->
  <div class="card">
    <div class="card-header">
      <h5>
        Torrent Files
      </h5>
    </div>
    <div class="card-body">
      <table class="table torrent-files table-hover">
        <thead>
          <tr>
          <th>Name</th>
          <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-05 Seven Below.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-04 Dirt.mp3
          </td>
          <td>6 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-03 The Divided Sky.mp3
          </td>
          <td>22 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-02 Moma Dance.mp3
          </td>
          <td>17 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-01 Llama.mp3
          </td>
          <td>7 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-03 Secret Smile.mp3
          </td>
          <td>6 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-02 Walls of The Cave.mp3
          </td>
          <td>20 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/3-01 You Enjoy Myself.mp3
          </td>
          <td>37 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.31 Tweeter Center - Camden, NJ/1-02 Moma Dance.mp3
          </td>
          <td>17 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-04 Bug.mp3
          </td>
          <td>15 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-03 Twist.mp3
          </td>
          <td>32 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-02 Taste.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/2-01 Fast Enough For You.mp3
          </td>
          <td>10 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-07 On Your Way Down.mp3
          </td>
          <td>10 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-06 Chalk Dust Torture.mp3
          </td>
          <td>14 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-05 Spock's Brain.mp3
          </td>
          <td>8 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-04 You Ain't Going Nowhere.mp3
          </td>
          <td>7 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-03 Scents And Subtle Sounds.mp3
          </td>
          <td>42 MB</td>
          </tr>
          <tr>
          <td class="text-truncate">
            Live Phish  SBD 2003 Complete Tour (almost)/2003.07.30 Tweeter Center - Camden, NJ/1-01 My Friend, My Friend.mp3
          </td>
          <td>9 MB</td>
          </tr>
        </tbody>
      </table>
      <!-- // end  torrent-files-->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
</div>
<!-- // end container-fluid -->