---
title: Artist Torrents - Muzit
bodyClass: artists-torrents
---

<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">Phish Torrents</h1>

  <div id="torrent-search">
    <form class="form" action="/artists/596/torrents" accept-charset="UTF-8" method="get">
      <label for="q">Search Torrents: </label>
      <input type="text" name="q" id="q">
      <input type="submit" name="commit" value="Go" class="btn btn-primary btn-sm" data-disable-with="Go">
    </form>
  </div>

  <nav class="pagination pagination-sm justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
      <li class="prev previous_page disabled page-item">
        <a class="page-link" href="#"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a>
      </li>
      <li class="active page-item"><a class="page-link" href="/artists/596/torrents?page=1">1</a></li>
      <li class="page-item"><a rel="next" class="page-link" href="/artists/596/torrents?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=3">3</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=4">4</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=5">5</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=6">6</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=7">7</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=8">8</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=9">9</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">…</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=48">48</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=49">49</a></li>
      <li class="next next_page  page-item">
        <a class="page-link" rel="next" href="/artists/596/torrents?page=2">
          Next <i class="fas fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>

  <table class="table table-hover torrents">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Size</th>
        <th>% Changed</th>
        <th>Downloads</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779043">Phish 2010 -10-26 Manchester, NH</a></td>
        <td></td>
        <td>340 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779041">2009-11-24 Wachovia Center, Philadelphia PA</a></td>
        <td>Music</td>
        <td>330 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779040">2009.11.24</a></td>
        <td>Music</td>
        <td>330 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779039">JoyBox_DVD</a></td>
        <td></td>
        <td>4.2 GB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779038">Phish Acoustic Set 11-01-09 Indio Ca</a></td>
        <td>Music</td>
        <td>230 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>21</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779034">Phish - The Oxy Years VOLUME III</a></td>
        <td>Music</td>
        <td>92 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>1</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779033">ph2000-09-30.sbd.flac16</a></td>
        <td>Music</td>
        <td>1.2 GB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>36</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779029">Phish 1994 Bluegrass Sessions</a></td>
        <td></td>
        <td>700 MB</td>
        <td class="text-danger">
          -100.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-bottom"></span>
        </td>
        <td>74</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779028">Phish 1994 Bluegrass Sessions</a></td>
        <td></td>
        <td>700 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779023">Phish 12-01-1984 Nectars Burlington VT</a></td>
        <td>Music</td>
        <td>180 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779022">nugs.net</a></td>
        <td>Music</td>
        <td>420 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779021">Phish_Madison_1997_12_30.zip</a></td>
        <td></td>
        <td>190 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779020">Phish - Live Bait Vol. 08 (2012)</a></td>
        <td>Software</td>
        <td>150 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779019">2012-08-15 Long Beach, CA</a></td>
        <td>Music</td>
        <td>310 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779016">Live Bait Vol. 08</a></td>
        <td>Music</td>
        <td>180 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>13</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779015">ph2012-08-26</a></td>
        <td>Music</td>
        <td>970 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779013">2012-06-10 Bonnaroo, TN</a></td>
        <td>Music</td>
        <td>350 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779011">2012-06-07and08 Worcester, MA</a></td>
        <td></td>
        <td>590 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>97</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779010">2012-06-15-18 Atlantic City, NJ</a></td>
        <td></td>
        <td>1000 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>1</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2779008">2012-06-19and20 Portsmouth, VA</a></td>
        <td></td>
        <td>660 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>

    </tbody>
  </table>

  <nav class="pagination pagination-sm justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
      <li class="prev previous_page disabled page-item">
        <a class="page-link" href="#"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a>
      </li>
      <li class="active page-item"><a class="page-link" href="/artists/596/torrents?page=1">1</a></li>
      <li class="page-item"><a rel="next" class="page-link" href="/artists/596/torrents?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=3">3</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=4">4</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=5">5</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=6">6</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=7">7</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=8">8</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=9">9</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">…</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=48">48</a></li>
      <li class="page-item"><a class="page-link" href="/artists/596/torrents?page=49">49</a></li>
      <li class="next next_page  page-item">
        <a class="page-link" rel="next" href="/artists/596/torrents?page=2">
          Next <i class="fas fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div class="action text-center">
    <a class="btn btn-primary btn-md" href="index.html">Go Back</a>
  </div>
</div>

