---
title: Artist Torrents - Muzit
bodyClass: artists-torrents
---

<div class="container-fluid">
  <h1 class="my-4 text-center text-md-left">
    Phish Torrents
  </h1>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a>
      </li>
      <li class="page-item active d-none d-md-block">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">6</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">7</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">8</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">9</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">10</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">...</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">5971</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">5972</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next <i class="fas fa-angle-right" aria-hidden="true"></i></a>
      </li>
    </ul>
    <!-- // end pagination -->
  </nav>
  <!-- // end nav -->
  <table class="table table-hover torrents">
    <thead>
      <tr>
        <th>Infohash</th>
        <th>Name</th>
        <th>Size</th>
        <th>Downloads</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2129261">Phish- 2012-12-30- MSG 3</a>
        </td>
        <td>1.1 GB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>26</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2130913">Phish - 2003-03-01 - Greensboro Coliseum in Greensboro, NC  DSBD</a>
        </td>
        <td>1.1 GB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>73</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2130944">Phish - Collection of Summer 2015 [Live Download] (Flac)</a>
        </td>
        <td>27 KB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>122</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2131738">Phish - Hoist</a>
        </td>
        <td>322 Bytes</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2131834">Phish - The White Tape</a>
        </td>
        <td>346 Bytes</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>92</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2132126">Phish 2010-10-20 24 bit SBD</a>
        </td>
        <td>2.3 KB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>46</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2132636">Phish 12-01-1984 Nectars Burlington VT</a>
        </td>
        <td>210 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2134619">Phish - Junta</a>
        </td>
        <td>116 Bytes</td>
        <td class="text-success">
          100.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>19</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2137479">Phish 7_21_13</a>
        </td>
        <td>259 Bytes</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2140411">Phish Bits 3.0 - Vol. 03</a>
        </td>
        <td>174 Bytes</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>1</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2141330">Phish Halloween Sets</a>
        </td>
        <td>1.2 KB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2141898">Phish - Live 01- 12.14.95 (Disc 2)</a>
        </td>
        <td>100 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>2</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2142092">Phish - 2009 Early Summer Tour</a>
        </td>
        <td>4.8 GB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>58</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2143727">Phish 08-08-09 George, WA</a>
        </td>
        <td>353 Bytes</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2147991">Phish-Knoxville-06.10.09-Set-Two.mp3</a>
        </td>
        <td>140 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2148256">Phish Studio Discography(1988-2004)  Flac</a>
        </td>
        <td>7.9 GB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>6</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2149472">Phish 2010-12-27 Worcester, MA</a>
        </td>
        <td>312 Bytes</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2150434">Phish.SPAC-2013-07-07.SBD.Saratoga Springs.NY</a>
        </td>
        <td>330 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>3</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2151377">Phish Walnut Creek + Left Nuts</a>
        </td>
        <td>331 Bytes</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>35</td>
      </tr>
      <tr>
        <td class="text-truncate"><a href="/artists/596/torrents/2152577">[2004] Phish - Live In Brooklyn (320kbps)</a>
        </td>
        <td>420 MB</td>
        <td class="text-success">
          0.00%
          <span class="oi font-weight-bold align-middle oi-arrow-circle-top"></span>
        </td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a>
      </li>
      <li class="page-item active d-none d-md-block">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">6</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">7</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">8</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">9</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">10</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">...</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">5971</a>
      </li>
      <li class="page-item d-none d-md-block">
        <a class="page-link" href="#">5972</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next <i class="fas fa-angle-right" aria-hidden="true"></i></a>
      </li>
    </ul>
    <!-- // end pagination -->
  </nav>
  <!-- // end nav -->
  <div class="action text-center">
    <%= link_to 'Back', 'index.html', class: 'btn btn-primary btn-md' %>
  </div>
  <!-- // end action -->
</div>
<!-- // end container-fluid -->